<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fa5ea3cc-4cea-4088-a9df-bb04dc0e8c68" Alias="globalSettings" Level="2">
  <Info>
    <Name>Global Settings</Name>
    <Icon>icon-settings color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d8631943-bf93-49db-a3cc-71da1777e1a9</Key>
      <Name>Entities</Name>
      <Alias>entities</Alias>
      <Definition>2d8dcd7a-74b4-4da1-bd4e-912c140761ef</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Create entities]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="entities">Entities</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4270643a-1ffb-4bed-9181-7ff99ec88911</Key>
      <Name>Risk Warning</Name>
      <Alias>riskWarning</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the risk warning]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="properties">Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>572c2d60-c2cb-4293-91d6-300151e6ca25</Key>
      <Name>Social Media Links</Name>
      <Alias>socialMediaLinks</Alias>
      <Definition>0ef73d36-c1b0-4a3e-84bf-4694b5884d3e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter social media links]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="socialMedia">Social Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1758824d-1fda-45e9-b526-f3c81319c947</Key>
      <Caption>Entities</Caption>
      <Alias>entities</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>366b693c-51fb-44c0-9630-37810abea4d8</Key>
      <Caption>Properties</Caption>
      <Alias>properties</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>76713631-ab15-42dc-ae5d-b75d243a8107</Key>
      <Caption>Social Media</Caption>
      <Alias>socialMedia</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>