<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e7e0be63-0bc4-4d30-8cd8-4fba11a98ed5" Alias="landingPagesFolder" Level="2">
  <Info>
    <Name>Landing Pages Folder</Name>
    <Icon>icon-folder color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e7e0be63-0bc4-4d30-8cd8-4fba11a98ed5" SortOrder="0">landingPagesFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>