<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e7eec75e-a6bc-46ec-bcf9-71dda0d2ff9c" Alias="emailTemplateFolder" Level="2">
  <Info>
    <Name>Email Template Folder</Name>
    <Icon>icon-folder color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e7eec75e-a6bc-46ec-bcf9-71dda0d2ff9c" SortOrder="0">emailTemplateFolder</ContentType>
    <ContentType Key="8a8d253b-3062-4565-bded-162cee3f3d24" SortOrder="1">marketNewsEmail</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>