<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb0c167b-1b76-4526-9d7e-407d4ea4b96c" Alias="SM Icons" Level="2">
  <Info>
    <Parent Key="0ae4305e-59fa-4bef-8624-96001050a478">Elements</Parent>
    <Path>/Elements/SMIcons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-22T16:58:13</CreateDate>
    <NodeName Default="SM Icons" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>