<?xml version="1.0" encoding="utf-8"?>
<Media Key="9cfd885b-1e9b-4fd9-a33a-faeebede9157" Alias="Twitter" Level="3">
  <Info>
    <Parent Key="fb0c167b-1b76-4526-9d7e-407d4ea4b96c">SM Icons</Parent>
    <Path>/Elements/SMIcons/Twitter</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-22T16:58:36</CreateDate>
    <NodeName Default="Twitter" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lwep1he1/social-tw.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>