<?xml version="1.0" encoding="utf-8"?>
<Content Key="557daa25-a976-41e2-94ed-5ad4a18c1f9e" Alias="Global Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>globalSettings</ContentType>
    <CreateDate>2023-05-19T18:01:04</CreateDate>
    <NodeName Default="Global Settings" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <entities>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/423434de7d194ccf8fa0d86ba58cfeda"
      },
      {
        "contentUdi": "umb://element/3289de1263454bae85d6c24791b26771"
      },
      {
        "contentUdi": "umb://element/6ceaa10c50fb4f3f9478fa3d61acd935"
      },
      {
        "contentUdi": "umb://element/58ddbd32132a4e22a58f685fb6f3a62b"
      },
      {
        "contentUdi": "umb://element/7e47f8642c214b7f813163c16650a33b"
      },
      {
        "contentUdi": "umb://element/c28cea895a54417ea9efd024d275f797"
      },
      {
        "contentUdi": "umb://element/7b88b0d4aac248f2810feecc7dfc701a"
      },
      {
        "contentUdi": "umb://element/980e284fb131424ba82ddd12d1e1b2aa"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/423434de7d194ccf8fa0d86ba58cfeda",
      "entityName": "ICM Capital Limited (UK)",
      "websiteUrl": "[{\"name\":\"https://www.icmcapital.co.uk\",\"url\":\"https://www.icmcapital.co.uk\"}]",
      "address": "Level 17, Dashwood House, 69 Old Broad St, London, EC2M 1QS, United Kingdom",
      "email": "support@icmcapital.co.uk",
      "regulation": "ICM Capital Limited is authorised and regulated by the Financial Conduct Authority (FCA) Register Number: 520965.",
      "flagIcon": "[\r\n  {\r\n    \"key\": \"eeaa91f6-5c20-40bb-accc-86dce820a888\",\r\n    \"mediaKey\": \"585209dc-41a9-4a9c-8f71-6d870d3e6aed\"\r\n  }\r\n]",
      "phoneNumber": "+44 207 634 9770"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/6ceaa10c50fb4f3f9478fa3d61acd935",
      "entityName": "ICM Capital Limited (MU)"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/7e47f8642c214b7f813163c16650a33b",
      "entityName": "ICM Capital (Labuan)"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/3289de1263454bae85d6c24791b26771",
      "entityName": "ICM Capital LLC (VC)"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/58ddbd32132a4e22a58f685fb6f3a62b",
      "websiteUrl": null,
      "entityName": "ICM Limited (UAE)"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/c28cea895a54417ea9efd024d275f797",
      "websiteUrl": null,
      "entityName": "ICM House AG (Zurich, Switzerland)"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/7b88b0d4aac248f2810feecc7dfc701a",
      "websiteUrl": null,
      "entityName": "ICM House KB"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/980e284fb131424ba82ddd12d1e1b2aa",
      "websiteUrl": null,
      "entityName": "ICM LLC (Qatar)"
    }
  ],
  "settingsData": []
}]]></Value>
    </entities>
    <socialMediaLinks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b13fe12ebc234d519879ad74bec1b726"
      },
      {
        "contentUdi": "umb://element/68e08262507a4c6fa7f4a4071ca604ac"
      },
      {
        "contentUdi": "umb://element/2c900e40a33d497cb2316734513088d9"
      },
      {
        "contentUdi": "umb://element/4ee7e4acbf7a4be2988aca5927479bcc"
      },
      {
        "contentUdi": "umb://element/23969293e2ad4264b4f86aa9680a7c4d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "efeeb13e-6bb7-4c39-9f30-c7de5e5f66af",
      "udi": "umb://element/b13fe12ebc234d519879ad74bec1b726",
      "icon": "[\r\n  {\r\n    \"key\": \"49e22953-91cf-4aef-bbb5-ee60386582cf\",\r\n    \"mediaKey\": \"401d7420-70f8-4ca0-9953-6fac864c8ba0\"\r\n  }\r\n]",
      "url": "[{\"name\":\"https://www.linkedin.com/company/icm.com/\",\"url\":\"https://www.linkedin.com/company/icm.com/\"}]",
      "smName": "LinkedIn"
    },
    {
      "contentTypeKey": "efeeb13e-6bb7-4c39-9f30-c7de5e5f66af",
      "udi": "umb://element/68e08262507a4c6fa7f4a4071ca604ac",
      "icon": "[\r\n  {\r\n    \"key\": \"ac464ac5-6ee4-45e8-ba8a-ade057df67b9\",\r\n    \"mediaKey\": \"73642f64-1055-4c96-acd5-85556e2042ea\"\r\n  }\r\n]",
      "url": "[{\"name\":\"https://www.youtube.com/user/ICMCapital\",\"url\":\"https://www.youtube.com/user/ICMCapital\"}]",
      "smName": "YouTube"
    },
    {
      "contentTypeKey": "efeeb13e-6bb7-4c39-9f30-c7de5e5f66af",
      "udi": "umb://element/2c900e40a33d497cb2316734513088d9",
      "icon": "[\r\n  {\r\n    \"key\": \"0cc579cb-e253-4748-9684-d3550c5f66d9\",\r\n    \"mediaKey\": \"c3219f9c-2c27-4470-baf2-605930db98a0\"\r\n  }\r\n]",
      "url": "[{\"name\":\"https://www.instagram.com/ICMCapital/\",\"url\":\"https://www.instagram.com/ICMCapital/\"}]",
      "smName": "Instagram"
    },
    {
      "contentTypeKey": "efeeb13e-6bb7-4c39-9f30-c7de5e5f66af",
      "udi": "umb://element/4ee7e4acbf7a4be2988aca5927479bcc",
      "icon": "[\r\n  {\r\n    \"key\": \"178d5014-c227-47f9-8e46-39f3ee40388a\",\r\n    \"mediaKey\": \"5401f466-c68b-48ad-a52f-0bbe80adbfa0\"\r\n  }\r\n]",
      "url": "[{\"name\":\"https://www.facebook.com/ICMCapital\",\"url\":\"https://www.facebook.com/ICMCapital\"}]",
      "smName": "Facebook"
    },
    {
      "contentTypeKey": "efeeb13e-6bb7-4c39-9f30-c7de5e5f66af",
      "udi": "umb://element/23969293e2ad4264b4f86aa9680a7c4d",
      "icon": "[\r\n  {\r\n    \"key\": \"ed619f5d-6d42-44e7-98a3-f8a193a6278b\",\r\n    \"mediaKey\": \"9cfd885b-1e9b-4fd9-a33a-faeebede9157\"\r\n  }\r\n]",
      "url": "[{\"name\":\"https://twitter.com/ICMCapital/\",\"url\":\"https://twitter.com/ICMCapital/\"}]",
      "smName": "Twitter"
    }
  ],
  "settingsData": []
}]]></Value>
    </socialMediaLinks>
  </Properties>
</Content>