<?xml version="1.0" encoding="utf-8"?>
<Content Key="46b95a98-e1e6-4c08-bd2b-8d068396f7a7" Alias="Home" Level="2">
  <Info>
    <Parent Key="d978e3f5-e470-43e5-a8a7-30b7b1368c58">www.icmtrader.com</Parent>
    <Path>/wwwicmtradercom/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-05-19T18:07:51</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ed37672f-c21e-419e-a259-249d9518e2b3">WebPageTemplate</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[www.icmtrader.com]]></Value>
    </title>
  </Properties>
</Content>