<?xml version="1.0" encoding="utf-8"?>
<Content Key="def56a90-c3d2-4907-8d58-4c9128643f6b" Alias="Landing Pages" Level="2">
  <Info>
    <Parent Key="34480673-347b-4385-8cd6-6f29c0c4d7a0">www.icm.com</Parent>
    <Path>/wwwicmcom/LandingPages</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPagesFolder</ContentType>
    <CreateDate>2023-05-19T18:03:42</CreateDate>
    <NodeName Default="Landing Pages" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>