<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d1cf8e7-6aad-4748-9424-f0aece066e73" Alias="Landing Pages" Level="2">
  <Info>
    <Parent Key="d978e3f5-e470-43e5-a8a7-30b7b1368c58">www.icmtrader.com</Parent>
    <Path>/wwwicmtradercom/LandingPages</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPagesFolder</ContentType>
    <CreateDate>2023-05-19T18:08:02</CreateDate>
    <NodeName Default="Landing Pages" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>