<?xml version="1.0" encoding="utf-8"?>
<Content Key="49ce87cd-2e35-4087-81e4-81caa398a82e" Alias="Email Templates" Level="2">
  <Info>
    <Parent Key="1755fb39-7d36-4467-aaab-f01c1f13ecd0">www.icmmena.com</Parent>
    <Path>/wwwicmmenacom/EmailTemplates</Path>
    <Trashed>false</Trashed>
    <ContentType>emailTemplatesFolder</ContentType>
    <CreateDate>2023-05-18T20:30:56</CreateDate>
    <NodeName Default="Email Templates" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>