<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a0140d8-dbfe-4b6e-abdb-e187935cecd6" Alias="Email Templates" Level="2">
  <Info>
    <Parent Key="63a2651d-226a-4504-9c8e-e9c53da711c2">www.icmcapital.co.uk</Parent>
    <Path>/wwwicmcapitalcouk/EmailTemplates</Path>
    <Trashed>false</Trashed>
    <ContentType>emailTemplatesFolder</ContentType>
    <CreateDate>2023-05-18T20:30:03</CreateDate>
    <NodeName Default="Email Templates" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>