<?xml version="1.0" encoding="utf-8"?>
<Content Key="557daa25-a976-41e2-94ed-5ad4a18c1f9e" Alias="Global Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>globalSettings</ContentType>
    <CreateDate>2023-05-19T18:01:04</CreateDate>
    <NodeName Default="Global Settings" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <entities>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/423434de7d194ccf8fa0d86ba58cfeda"
      },
      {
        "contentUdi": "umb://element/3289de1263454bae85d6c24791b26771"
      },
      {
        "contentUdi": "umb://element/6ceaa10c50fb4f3f9478fa3d61acd935"
      },
      {
        "contentUdi": "umb://element/58ddbd32132a4e22a58f685fb6f3a62b"
      },
      {
        "contentUdi": "umb://element/7e47f8642c214b7f813163c16650a33b"
      },
      {
        "contentUdi": "umb://element/c28cea895a54417ea9efd024d275f797"
      },
      {
        "contentUdi": "umb://element/7b88b0d4aac248f2810feecc7dfc701a"
      },
      {
        "contentUdi": "umb://element/980e284fb131424ba82ddd12d1e1b2aa"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/423434de7d194ccf8fa0d86ba58cfeda",
      "entityName": "ICM Capital Limited (UK)",
      "websiteUrl": "[{\"name\":\"https://www.icmcapital.co.uk\",\"url\":\"https://www.icmcapital.co.uk\"}]",
      "address": "Level 17, Dashwood House, 69 Old Broad St, London, EC2M 1QS, United Kingdom",
      "email": "support@icmcapital.co.uk",
      "regulation": "ICM Capital Limited is authorised and regulated by the Financial Conduct Authority (FCA) Register Number: 520965.",
      "flagIcon": "[\r\n  {\r\n    \"key\": \"eeaa91f6-5c20-40bb-accc-86dce820a888\",\r\n    \"mediaKey\": \"585209dc-41a9-4a9c-8f71-6d870d3e6aed\"\r\n  }\r\n]",
      "phoneNumber": "+44 207 634 9770"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/6ceaa10c50fb4f3f9478fa3d61acd935",
      "entityName": "ICM Capital Limited (MU)"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/7e47f8642c214b7f813163c16650a33b",
      "entityName": "ICM Capital (Labuan)"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/3289de1263454bae85d6c24791b26771",
      "entityName": "ICM Capital LLC (VC)"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/58ddbd32132a4e22a58f685fb6f3a62b",
      "websiteUrl": null,
      "entityName": "ICM Limited (UAE)"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/c28cea895a54417ea9efd024d275f797",
      "websiteUrl": null,
      "entityName": "ICM House AG (Zurich, Switzerland)"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/7b88b0d4aac248f2810feecc7dfc701a",
      "websiteUrl": null,
      "entityName": "ICM House KB"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/980e284fb131424ba82ddd12d1e1b2aa",
      "websiteUrl": null,
      "entityName": "ICM LLC (Qatar)"
    }
  ],
  "settingsData": []
}]]></Value>
    </entities>
  </Properties>
</Content>