<?xml version="1.0" encoding="utf-8"?>
<Content Key="944db595-058e-4a36-9fc3-1a69dcbe83a1" Alias="Home" Level="2">
  <Info>
    <Parent Key="2bd89e68-6ccd-4222-8bba-159782171779">www.icm.com</Parent>
    <Path>/wwwicmcom/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-05-18T20:27:56</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>