<?xml version="1.0" encoding="utf-8"?>
<Content Key="0990e61d-7357-4fda-8d2c-ffe133c4dce2" Alias="Home" Level="2">
    <Info>
        <Parent Key="1755fb39-7d36-4467-aaab-f01c1f13ecd0">www.icmmena.com</Parent>
        <Path>/wwwicmmenacom/Home</Path>
        <Trashed>false</Trashed>
        <ContentType>homePage</ContentType>
        <CreateDate>2023-05-18T20:29:29</CreateDate>
        <NodeName Default="Home"/>
        <SortOrder>0</SortOrder>
        <Published Default="true"/>
        <Schedule/>
        <Template/>
    </Info>
    <Properties/>
</Content>