<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f42a6c9-2bf7-4cc1-9e11-51908c2350b7" Alias="Landing Pages" Level="2">
  <Info>
    <Parent Key="2bd89e68-6ccd-4222-8bba-159782171779">www.icm.com</Parent>
    <Path>/wwwicmcom/LandingPages</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPagesFolder</ContentType>
    <CreateDate>2023-05-18T20:17:30</CreateDate>
    <NodeName Default="Landing Pages" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>