<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd91b513-aa25-49b6-ae72-a310e6f1677b" Alias="Landing Pages" Level="2">
  <Info>
    <Parent Key="1755fb39-7d36-4467-aaab-f01c1f13ecd0">www.icmmena.com</Parent>
    <Path>/wwwicmmenacom/LandingPages</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPagesFolder</ContentType>
    <CreateDate>2023-05-18T20:30:34</CreateDate>
    <NodeName Default="Landing Pages" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>