<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7e6aeb5-b9dd-45a7-84f1-ffbb8528d5bd" Alias="Landing Pages" Level="2">
    <Info>
        <Parent Key="63a2651d-226a-4504-9c8e-e9c53da711c2">www.icmcapital.co.uk</Parent>
        <Path>/wwwicmcapitalcouk/LandingPages</Path>
        <Trashed>false</Trashed>
        <ContentType>landingPagesFolder</ContentType>
        <CreateDate>2023-05-18T20:29:50</CreateDate>
        <NodeName Default="Landing Pages"/>
        <SortOrder>1</SortOrder>
        <Published Default="true"/>
        <Schedule/>
        <Template/>
    </Info>
    <Properties/>
</Content>