<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd2e439b-0378-4407-8e60-944d31287726" Alias="Landing Pages" Level="2">
    <Info>
        <Parent Key="eb3ccff7-5687-44cd-9243-d42eb30ac592">www.icmtrader.com</Parent>
        <Path>/wwwicmtradercom/LandingPages</Path>
        <Trashed>false</Trashed>
        <ContentType>landingPagesFolder</ContentType>
        <CreateDate>2023-05-18T20:31:25</CreateDate>
        <NodeName Default="Landing Pages"/>
        <SortOrder>1</SortOrder>
        <Published Default="true"/>
        <Schedule/>
        <Template/>
    </Info>
    <Properties/>
</Content>