<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca3f4743-68bb-4e4a-b6ba-44fb625f3645" Alias="Market News" Level="3">
  <Info>
    <Parent Key="a9a176c0-28a8-4d2b-a38f-d43f9b8f9171">Email Templates</Parent>
    <Path>/wwwicmtradercom/EmailTemplates/MarketNews</Path>
    <Trashed>false</Trashed>
    <ContentType>emailTemplatesFolder</ContentType>
    <CreateDate>2023-05-18T20:31:33</CreateDate>
    <NodeName Default="Market News" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>