<?xml version="1.0" encoding="utf-8"?>
<Content Key="85da7399-ed0d-4e42-b2a1-724f2083c677" Alias="Market News" Level="3">
    <Info>
        <Parent Key="1a0140d8-dbfe-4b6e-abdb-e187935cecd6">Email Templates</Parent>
        <Path>/wwwicmcapitalcouk/EmailTemplates/MarketNews</Path>
        <Trashed>false</Trashed>
        <ContentType>emailTemplatesFolder</ContentType>
        <CreateDate>2023-05-18T20:30:03</CreateDate>
        <NodeName Default="Market News"/>
        <SortOrder>0</SortOrder>
        <Published Default="true"/>
        <Schedule/>
        <Template/>
    </Info>
    <Properties/>
</Content>