<?xml version="1.0" encoding="utf-8"?>
<Content Key="162c18e8-4a7f-4632-82d9-1e8e12ba73d1" Alias="Market News" Level="3">
  <Info>
    <Parent Key="ab4a8560-e596-406c-96ec-3ce3b31381c7">Email Templates</Parent>
    <Path>/wwwicmcapitalcouk/EmailTemplates/MarketNews</Path>
    <Trashed>false</Trashed>
    <ContentType>marketNewsEmail</ContentType>
    <CreateDate>2023-05-21T16:59:31</CreateDate>
    <NodeName Default="Market News" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72a68c2e-c730-43a6-9d7f-b548e6033c43">MarketNewsEmailTemplate</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[[
  {
    "key": "40f05799-273d-4cd7-9767-6b2d17fac319",
    "mediaKey": "8b670284-b7ca-4efe-998a-c69d310d9e1e"
  }
]]]></Value>
    </banner>
    <bannerLink>
      <Value><![CDATA[[
  {
    "name": "https://www.icmcapital.co.uk",
    "url": "https://www.icmcapital.co.uk"
  }
]]]></Value>
    </bannerLink>
    <eCalendarLink>
      <Value><![CDATA[[
  {
    "name": "Economic Calendar",
    "url": "https://www.icmcapital.co.uk/accounts/trading-tools/"
  }
]]]></Value>
    </eCalendarLink>
    <entity>
      <Value><![CDATA[[
  "ICM Capital Limited (UK)"
]]]></Value>
    </entity>
    <firstPartnerLogo>
      <Value><![CDATA[[
  {
    "key": "a42f81d0-d7b1-4783-b917-3722b6b6f3da",
    "mediaKey": "be441e47-c5d0-4bfc-bab0-4d0784910c7c"
  }
]]]></Value>
    </firstPartnerLogo>
    <mainLogo>
      <Value><![CDATA[[
  {
    "key": "fbbf236e-a470-4c01-a260-86e9b4e39dfe",
    "mediaKey": "317cfd29-2eea-4899-ab43-340db28763a7"
  }
]]]></Value>
    </mainLogo>
    <secondParnerLogo>
      <Value><![CDATA[[
  {
    "key": "96e19cc1-6519-43de-95ea-e5a5b0f616d4",
    "mediaKey": "091ced97-8d08-477a-80d4-2c302531ac7f"
  }
]]]></Value>
    </secondParnerLogo>
    <senderEmail>
      <Value><![CDATA[marketupdate@icmcapital.co.uk]]></Value>
    </senderEmail>
    <showEntityList>
      <Value><![CDATA[0]]></Value>
    </showEntityList>
  </Properties>
</Content>