<?xml version="1.0" encoding="utf-8"?>
<Content Key="7175accc-0a58-49a9-9fcf-43cf4e4b9eed" Alias="Market News" Level="3">
    <Info>
        <Parent Key="49ce87cd-2e35-4087-81e4-81caa398a82e">Email Templates</Parent>
        <Path>/wwwicmmenacom/EmailTemplates/MarketNews</Path>
        <Trashed>false</Trashed>
        <ContentType>emailTemplatesFolder</ContentType>
        <CreateDate>2023-05-18T20:30:56</CreateDate>
        <NodeName Default="Market News"/>
        <SortOrder>0</SortOrder>
        <Published Default="true"/>
        <Schedule/>
        <Template/>
    </Info>
    <Properties/>
</Content>