<?xml version="1.0" encoding="utf-8"?>
<Content Key="1bdf93e6-a61c-4d25-b8ff-e2eb3cff7445" Alias="Market News" Level="3">
  <Info>
    <Parent Key="4146be67-9ae0-42b1-a345-1a1d6144439f">Email Templates</Parent>
    <Path>/wwwicmcom/EmailTemplates/MarketNews</Path>
    <Trashed>false</Trashed>
    <ContentType>emailTemplateFolder</ContentType>
    <CreateDate>2023-05-19T18:46:38</CreateDate>
    <NodeName Default="Market News" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>