<?xml version="1.0" encoding="utf-8"?>
<Content Key="e12f00ea-5372-4e50-a708-0619d698962a" Alias="Market News" Level="3">
  <Info>
    <Parent Key="ab4a8560-e596-406c-96ec-3ce3b31381c7">Email Templates</Parent>
    <Path>/wwwicmcapitalcouk/EmailTemplates/MarketNews</Path>
    <Trashed>false</Trashed>
    <ContentType>emailTemplateFolder</ContentType>
    <CreateDate>2023-05-19T18:46:50</CreateDate>
    <NodeName Default="Market News" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>