<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac6d55ae-7de1-4638-861e-1fc3b4fc6db2" Alias="Market News" Level="3">
  <Info>
    <Parent Key="0fa416cf-b1af-43cb-92f1-7fe7bb093487">Email Templates</Parent>
    <Path>/wwwicmtradercom/EmailTemplates/MarketNews</Path>
    <Trashed>false</Trashed>
    <ContentType>emailTemplateFolder</ContentType>
    <CreateDate>2023-05-19T18:47:21</CreateDate>
    <NodeName Default="Market News" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>