<?xml version="1.0" encoding="utf-8"?>
<Content Key="d64c8201-7f21-4420-b4d0-14915ba2eaa7" Alias="Market News" Level="3">
  <Info>
    <Parent Key="eb9f4fa8-b48a-4104-aae2-abbaa45a95e8">Email Templates</Parent>
    <Path>/wwwicmcom/EmailTemplates/MarketNews</Path>
    <Trashed>false</Trashed>
    <ContentType>emailTemplatesFolder</ContentType>
    <CreateDate>2023-05-18T20:24:17</CreateDate>
    <NodeName Default="Market News" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>