<?xml version="1.0" encoding="utf-8"?>
<Content Key="4596eee2-6ebc-4451-94a2-cf3495f88c53" Alias="Settings" Level="2">
  <Info>
    <Parent Key="2bd89e68-6ccd-4222-8bba-159782171779">www.icm.com</Parent>
    <Path>/wwwicmcom/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteSettings</ContentType>
    <CreateDate>2023-05-18T20:18:41</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>