<?xml version="1.0" encoding="utf-8"?>
<Content Key="a289d845-e15b-46be-a01b-16335b6760f3" Alias="Settings" Level="2">
  <Info>
    <Parent Key="63a2651d-226a-4504-9c8e-e9c53da711c2">www.icmcapital.co.uk</Parent>
    <Path>/wwwicmcapitalcouk/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteSettings</ContentType>
    <CreateDate>2023-05-18T20:30:10</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>