<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b8be4b6-fcf5-46ab-ab72-ac4355bf3b00" Alias="Settings" Level="2">
    <Info>
        <Parent Key="1755fb39-7d36-4467-aaab-f01c1f13ecd0">www.icmmena.com</Parent>
        <Path>/wwwicmmenacom/Settings</Path>
        <Trashed>false</Trashed>
        <ContentType>websiteSettings</ContentType>
        <CreateDate>2023-05-18T20:31:04</CreateDate>
        <NodeName Default="Settings"/>
        <SortOrder>4</SortOrder>
        <Published Default="true"/>
        <Schedule/>
        <Template/>
    </Info>
    <Properties/>
</Content>