<?xml version="1.0" encoding="utf-8"?>
<Content Key="554bcb3b-48fc-48c7-bae3-464a9fc85db6" Alias="www.icmcapital.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wwwicmcapitalcouk</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteFolder</ContentType>
    <CreateDate>2023-05-19T17:57:51</CreateDate>
    <NodeName Default="www.icmcapital.co.uk" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>