<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb3ccff7-5687-44cd-9243-d42eb30ac592" Alias="www.icmtrader.com" Level="1">
    <Info>
        <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
        <Path>/wwwicmtradercom</Path>
        <Trashed>false</Trashed>
        <ContentType>websiteFolder</ContentType>
        <CreateDate>2023-05-18T20:16:28</CreateDate>
        <NodeName Default="www.icmtrader.com"/>
        <SortOrder>3</SortOrder>
        <Published Default="true"/>
        <Schedule/>
        <Template/>
    </Info>
    <Properties/>
</Content>