<?xml version="1.0" encoding="utf-8"?>
<Content Key="63a2651d-226a-4504-9c8e-e9c53da711c2" Alias="www.icmcapital.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wwwicmcapitalcouk</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteFolder</ContentType>
    <CreateDate>2023-05-18T20:15:51</CreateDate>
    <NodeName Default="www.icmcapital.co.uk" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>