<?xml version="1.0" encoding="utf-8"?>
<Content Key="2bd89e68-6ccd-4222-8bba-159782171779" Alias="www.icm.com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wwwicmcom</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteFolder</ContentType>
    <CreateDate>2023-05-18T20:15:39</CreateDate>
    <NodeName Default="www.icm.com" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>