<?xml version="1.0" encoding="utf-8"?>
<Content Key="1755fb39-7d36-4467-aaab-f01c1f13ecd0" Alias="www.icmmena.com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wwwicmmenacom</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteFolder</ContentType>
    <CreateDate>2023-05-18T20:16:05</CreateDate>
    <NodeName Default="www.icmmena.com" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>