<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7fc491c-3a73-4d1b-ae4f-cf1a00f96f27" Alias="www.icmhouse.com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wwwicmhousecom</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteFolder</ContentType>
    <CreateDate>2023-05-18T20:16:43</CreateDate>
    <NodeName Default="www.icmhouse.com" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>