<?xml version="1.0" encoding="utf-8"?>
<DataType Key="79a24fae-855e-4da8-ba47-727ba7a89685" Alias="[Dropdown] Entity List" Level="2">
  <Info>
    <Name>[Dropdown] Entity List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "ICM Capital Limited (UK)"
    },
    {
      "id": 2,
      "value": "ICM Capital LLC (VC)"
    },
    {
      "id": 3,
      "value": "ICM Capital Limited (MU)"
    },
    {
      "id": 4,
      "value": "ICM House AG (Zurich, Switzerland)"
    },
    {
      "id": 5,
      "value": "ICM Capital Limited (Labuan)"
    },
    {
      "id": 6,
      "value": "ICM House KB"
    },
    {
      "id": 7,
      "value": "ICM LLC (Qatar)"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>