<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02d27b32-e94b-42b9-a9fd-786359c3774a" Alias="Single URL Picker" Level="2">
  <Info>
    <Name>Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>