<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f448381-9346-4e25-8c88-e6c5becd99e3" Alias="Home" Level="2">
  <Info>
    <Parent Key="4e790028-0997-420b-8602-ef744a4c34e8">www.icmmena.com</Parent>
    <Path>/wwwicmmenacom/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-05-19T18:06:59</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ed37672f-c21e-419e-a259-249d9518e2b3">WebPageTemplate</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[www.icmmena.com]]></Value>
    </title>
  </Properties>
</Content>