<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ae412d1-f561-4613-85c6-cfa2db3c6676" Alias="Landing Pages" Level="2">
  <Info>
    <Parent Key="554bcb3b-48fc-48c7-bae3-464a9fc85db6">www.icmcapital.co.uk</Parent>
    <Path>/wwwicmcapitalcouk/LandingPages</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPagesFolder</ContentType>
    <CreateDate>2023-05-19T18:06:21</CreateDate>
    <NodeName Default="Landing Pages" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>