<?xml version="1.0" encoding="utf-8"?>
<Content Key="162c18e8-4a7f-4632-82d9-1e8e12ba73d1" Alias="Market News" Level="3">
  <Info>
    <Parent Key="ab4a8560-e596-406c-96ec-3ce3b31381c7">Email Templates</Parent>
    <Path>/wwwicmcapitalcouk/EmailTemplates/MarketNews</Path>
    <Trashed>false</Trashed>
    <ContentType>marketNewsEmail</ContentType>
    <CreateDate>2023-05-21T16:59:31</CreateDate>
    <NodeName Default="Market News">
      <Name Culture="ar-ae">Market News</Name>
      <Name Culture="en-gb">Market News</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-ae">true</Published>
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template Key="4e929dc2-914f-4a15-809d-7f9d498160f0">EmailTemplateMarketNews</Template>
  </Info>
  <Properties>
    <banner>
      <Value Culture="ar-ae"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a1ea197cd43e4edabb75347ce44869de"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4a2aa021-2492-4a53-9d0b-42afb53ac445",
      "udi": "umb://element/a1ea197cd43e4edabb75347ce44869de",
      "image": [
        {
          "key": "7c3a00fc-3ece-447f-90b7-48b484e2e028",
          "mediaKey": "83030fbc-e20d-47f4-a4e8-850d1ddad0a9"
        }
      ],
      "url": [
        {
          "name": "https://www.icmcapital.co.uk/ar/news/market/icm-announced-as-official-partner-of-france-sailgp-team-for-2023/",
          "url": "https://www.icmcapital.co.uk/ar/news/market/icm-announced-as-official-partner-of-france-sailgp-team-for-2023/"
        }
      ],
      "title": "Sail GP Team"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-gb"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/46a11e63216d4a44a138d718b61b7f54"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4a2aa021-2492-4a53-9d0b-42afb53ac445",
      "udi": "umb://element/46a11e63216d4a44a138d718b61b7f54",
      "image": [
        {
          "key": "d8e400bb-2813-412b-ad4a-a5106f91bb57",
          "mediaKey": "8b670284-b7ca-4efe-998a-c69d310d9e1e"
        }
      ],
      "url": [
        {
          "name": "https://www.icmcapital.co.uk/news/market/icm-announced-as-official-partner-of-france-sailgp-team-for-2023/",
          "url": "https://www.icmcapital.co.uk/news/market/icm-announced-as-official-partner-of-france-sailgp-team-for-2023/"
        }
      ],
      "title": "Sail GP Team"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <calendarURL>
      <Value Culture="ar-ae"><![CDATA[[
  {
    "name": "https://www.icmcapital.co.uk/ar/accounts/trading-tools/",
    "url": "https://www.icmcapital.co.uk/ar/accounts/trading-tools/"
  }
]]]></Value>
      <Value Culture="en-gb"><![CDATA[[
  {
    "name": "Economic Calendar",
    "url": "https://www.icmcapital.co.uk/accounts/trading-tools/"
  }
]]]></Value>
    </calendarURL>
    <disclaimer>
      <Value Culture="ar-ae"><![CDATA[<p><strong>إخلاء المسئولية</strong></p>
<p>إن شركة TRADING CENTRAL جهة خارجية ذات موثوقية، مُتخصصة بتوفير الأبحاث، غير أن ما تُقْدمَه من معلومات لا يُعتَبر بمثابة نصيحة للتداول. وقد عَنيت آى سي إم كابيتال بتوفير أبحاث TRADING CENTRAL دعمًا منها لعُملائِها وتقديم أفكار التداوُل لهم والتي يتعينُ تقييمِها بشكلٍ مُستقل. ولا تتحمل شركة آى سي إم كابيتال أية مسئُولية عن أيةِ معلومة تُقْدمَها شركة TRADING CENTRAL.</p>]]></Value>
      <Value Culture="en-gb"><![CDATA[<p><strong>Disclaimer</strong></p>
<p>TRADING CENTRAL is an independent third-party research provider and the information provided should not be considered as trading advice. ICM Capital provides TRADING CENTRAL research to support clients in their trades and give them trading ideas, which should be independently evaluated. ICM Capital cannot be held liable for any information provided by TRADING CENTRAL.</p>]]></Value>
    </disclaimer>
    <entity>
      <Value Culture="ar-ae"><![CDATA[]]></Value>
      <Value Culture="en-gb"><![CDATA[[
  "ICM Capital Limited (UK)"
]]]></Value>
    </entity>
    <eveningEmailSubject>
      <Value Culture="ar-ae"><![CDATA[]]></Value>
      <Value Culture="en-gb"><![CDATA[Market Update | U.S. Session]]></Value>
    </eveningEmailSubject>
    <footerImage>
      <Value Culture="ar-ae"><![CDATA[[
  {
    "key": "5ee721b7-2ee5-4693-abcf-ac3fdeb43626",
    "mediaKey": "97874192-42f3-43ae-97bf-d22bfe06fcde"
  }
]]]></Value>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "ec1a7e42-cc80-4a0e-b4ad-28fe4c639bf3",
    "mediaKey": "250fa82e-ee65-4381-9d7a-5bb57055d53b"
  }
]]]></Value>
    </footerImage>
    <morningEmailSubject>
      <Value Culture="ar-ae"><![CDATA[]]></Value>
      <Value Culture="en-gb"><![CDATA[Market Update | European Session]]></Value>
    </morningEmailSubject>
    <partners>
      <Value Culture="ar-ae"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e758ccef0ef14f73b1c68d0c5b8e7568"
      },
      {
        "contentUdi": "umb://element/baac7cb512a945acbdb7d00c0a188648"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "048c3249-5363-4a79-9efd-bdd7eca2a5a6",
      "udi": "umb://element/e758ccef0ef14f73b1c68d0c5b8e7568",
      "logo": [
        {
          "key": "9ea024d5-497b-4d19-9ae0-27af0adc1221",
          "mediaKey": "be441e47-c5d0-4bfc-bab0-4d0784910c7c"
        }
      ],
      "url": [
        {
          "name": "https://www.icmcapital.co.uk/news/market/icm-announced-as-official-partner-of-france-sailgp-team-for-2023/",
          "url": "https://www.icmcapital.co.uk/news/market/icm-announced-as-official-partner-of-france-sailgp-team-for-2023/"
        }
      ],
      "title": "Sail GP Team"
    },
    {
      "contentTypeKey": "048c3249-5363-4a79-9efd-bdd7eca2a5a6",
      "udi": "umb://element/baac7cb512a945acbdb7d00c0a188648",
      "logo": [
        {
          "key": "7eda492b-0778-4442-83d3-2ac31f799481",
          "mediaKey": "091ced97-8d08-477a-80d4-2c302531ac7f"
        }
      ],
      "url": [
        {
          "name": "https://www.icmcapital.co.uk/news/market/global-investment-house-icmcom-partners-with-london-s-polo-in-the-park/",
          "url": "https://www.icmcapital.co.uk/news/market/global-investment-house-icmcom-partners-with-london-s-polo-in-the-park/"
        }
      ],
      "title": "Chestertons Polo"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-gb"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2c93370a80b5405c8e8bcb31f31c6511"
      },
      {
        "contentUdi": "umb://element/b8cd63cacf6a4cd4a9fc7de85f175e7f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "048c3249-5363-4a79-9efd-bdd7eca2a5a6",
      "udi": "umb://element/2c93370a80b5405c8e8bcb31f31c6511",
      "logo": [
        {
          "key": "9ea024d5-497b-4d19-9ae0-27af0adc1221",
          "mediaKey": "be441e47-c5d0-4bfc-bab0-4d0784910c7c"
        }
      ],
      "url": [
        {
          "name": "https://www.icmcapital.co.uk/news/market/icm-announced-as-official-partner-of-france-sailgp-team-for-2023/",
          "url": "https://www.icmcapital.co.uk/news/market/icm-announced-as-official-partner-of-france-sailgp-team-for-2023/"
        }
      ],
      "title": "Sail GP Team"
    },
    {
      "contentTypeKey": "048c3249-5363-4a79-9efd-bdd7eca2a5a6",
      "udi": "umb://element/b8cd63cacf6a4cd4a9fc7de85f175e7f",
      "logo": [
        {
          "key": "7eda492b-0778-4442-83d3-2ac31f799481",
          "mediaKey": "091ced97-8d08-477a-80d4-2c302531ac7f"
        }
      ],
      "url": [
        {
          "name": "https://www.icmcapital.co.uk/news/market/global-investment-house-icmcom-partners-with-london-s-polo-in-the-park/",
          "url": "https://www.icmcapital.co.uk/news/market/global-investment-house-icmcom-partners-with-london-s-polo-in-the-park/"
        }
      ],
      "title": "Chestertons Polo"
    }
  ],
  "settingsData": []
}]]></Value>
    </partners>
    <regulationURL>
      <Value Culture="ar-ae"><![CDATA[[
  {
    "name": "https://www.icmcapital.co.uk/ar/about/regulation/",
    "url": "https://www.icmcapital.co.uk/ar/about/regulation/"
  }
]]]></Value>
      <Value Culture="en-gb"><![CDATA[[
  {
    "name": "Regulation",
    "url": "https://www.icmcapital.co.uk/about/regulation/"
  }
]]]></Value>
    </regulationURL>
    <senderEmail>
      <Value Culture="ar-ae"><![CDATA[]]></Value>
      <Value Culture="en-gb"><![CDATA[marketupdate@icmcapital.co.uk]]></Value>
    </senderEmail>
    <showEntityList>
      <Value><![CDATA[1]]></Value>
    </showEntityList>
    <tcMarker>
      <Value Culture="ar-ae"><![CDATA[&#1588;&#1585;&#1608;&#1591; &#1608;&#1571;&#1581;&#1603;&#1575;&#1605; TRADING CENTRAL]]></Value>
      <Value Culture="en-gb"><![CDATA[TRADING CENTRAL Terms and conditions]]></Value>
    </tcMarker>
  </Properties>
</Content>