<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b0ecb9b-94ab-4525-824d-8f768dc6b14c" Alias="Website Settings" Level="2">
  <Info>
    <Parent Key="d978e3f5-e470-43e5-a8a7-30b7b1368c58">www.icmtrader.com</Parent>
    <Path>/wwwicmtradercom/WebsiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteSettings</ContentType>
    <CreateDate>2023-05-19T18:08:36</CreateDate>
    <NodeName Default="Website Settings">
      <Name Culture="en-gb">Website Settings</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainLogo>
      <Value><![CDATA[[
  {
    "key": "92d50227-485d-43c8-971a-5e101b262435",
    "mediaKey": "86d46709-8ab5-4099-9883-de4f9605219f"
  }
]]]></Value>
    </mainLogo>
    <registrationLink>
      <Value Culture="en-gb"><![CDATA[https://www.icm.com/register/]]></Value>
    </registrationLink>
  </Properties>
</Content>