<?xml version="1.0" encoding="utf-8"?>
<Content Key="035fccf2-457b-4726-bc7f-d00fd23f2ed0" Alias="Website Settings" Level="2">
  <Info>
    <Parent Key="7ed59f48-86a5-4b47-bf37-15d5c77c6b28">www.icmhouse.com</Parent>
    <Path>/wwwicmhousecom/WebsiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteSettings</ContentType>
    <CreateDate>2023-05-19T18:08:55</CreateDate>
    <NodeName Default="Website Settings">
      <Name Culture="en-gb">Website Settings</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="false">
      <Published Culture="en-gb">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainLogo>
      <Value><![CDATA[[]]]></Value>
    </mainLogo>
    <registrationLink>
      <Value Culture="en-gb"><![CDATA[]]></Value>
    </registrationLink>
  </Properties>
</Content>