<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b8a2a50-8830-46f2-976c-7187d449b0db" Alias="Website Settings" Level="2">
  <Info>
    <Parent Key="4e790028-0997-420b-8602-ef744a4c34e8">www.icmmena.com</Parent>
    <Path>/wwwicmmenacom/WebsiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteSettings</ContentType>
    <CreateDate>2023-05-19T18:07:41</CreateDate>
    <NodeName Default="Website Settings">
      <Name Culture="en-gb">Website Settings</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainLogo>
      <Value><![CDATA[[
  {
    "key": "00ad8dcd-5df1-405c-8d14-b0fc2acd102d",
    "mediaKey": "e480741c-7208-4950-8aab-1dd655c7a00a"
  }
]]]></Value>
    </mainLogo>
    <registrationLink>
      <Value Culture="en-gb"><![CDATA[https://www.icm.com/register/]]></Value>
    </registrationLink>
  </Properties>
</Content>