<?xml version="1.0" encoding="utf-8"?>
<Content Key="38ede117-a81e-45ac-9158-0472952538c6" Alias="Website Settings" Level="2">
  <Info>
    <Parent Key="554bcb3b-48fc-48c7-bae3-464a9fc85db6">www.icmcapital.co.uk</Parent>
    <Path>/wwwicmcapitalcouk/WebsiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteSettings</ContentType>
    <CreateDate>2023-05-19T18:06:42</CreateDate>
    <NodeName Default="Website Settings">
      <Name Culture="en-gb">Website Settings</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainLogo>
      <Value><![CDATA[[
  {
    "key": "a1eac159-1f2f-448a-933c-6d0949e786f4",
    "mediaKey": "317cfd29-2eea-4899-ab43-340db28763a7"
  }
]]]></Value>
    </mainLogo>
    <registrationLink>
      <Value Culture="en-gb"><![CDATA[https://www.icm.com/register/]]></Value>
    </registrationLink>
  </Properties>
</Content>