<?xml version="1.0" encoding="utf-8"?>
<Content Key="437b76c7-d725-4e21-90f1-d2c994fc7434" Alias="Wesite Settings" Level="2">
  <Info>
    <Parent Key="34480673-347b-4385-8cd6-6f29c0c4d7a0">www.icm.com</Parent>
    <Path>/wwwicmcom/WesiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteSettings</ContentType>
    <CreateDate>2023-05-19T18:05:58</CreateDate>
    <NodeName Default="Wesite Settings">
      <Name Culture="ar-ae">Wesite Settings</Name>
      <Name Culture="en-gb">Wesite Settings</Name>
      <Name Culture="ms-my">Website Settings</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar-ae">true</Published>
      <Published Culture="en-gb">true</Published>
      <Published Culture="ms-my">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainLogo>
      <Value><![CDATA[[
  {
    "key": "17f172bd-e979-4baa-ab92-d01789d16ca0",
    "mediaKey": "317cfd29-2eea-4899-ab43-340db28763a7"
  }
]]]></Value>
    </mainLogo>
    <registrationLink>
      <Value Culture="ar-ae"><![CDATA[https://www.icm.com/ar/register/]]></Value>
      <Value Culture="en-gb"><![CDATA[https://www.icm.com/register/]]></Value>
      <Value Culture="ms-my"><![CDATA[https://www.icm.com/my/register/]]></Value>
    </registrationLink>
  </Properties>
</Content>