<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ed59f48-86a5-4b47-bf37-15d5c77c6b28" Alias="www.icmhouse.com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wwwicmhousecom</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteFolder</ContentType>
    <CreateDate>2023-05-19T17:59:21</CreateDate>
    <NodeName Default="www.icmhouse.com" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>