<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d06d6de-f59f-4bd2-86a5-216fbc0813b3" Alias="www.icmsolutions.gr" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wwwicmsolutionsgr</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteFolder</ContentType>
    <CreateDate>2024-03-25T13:09:35</CreateDate>
    <NodeName Default="www.icmsolutions.gr" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>