@using ICM.WebSites.Application.MarketNews.Queries.GetMarketNews
@using ICM.WebSites.Domain.Enums
@{
    ViewData["Title"] = "Home Page";
    
    var q =  new  GetMarketNewsQuery {Date = default, PartOfDay = PartsOfDay.Morning, Culture = "null"};
    q = null;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>