<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db42f61a-3eeb-44bc-afdb-8830be041f3e" Alias="[BlockList] Partner List" Level="2">
  <Info>
    <Name>[BlockList] Partner List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "048c3249-5363-4a79-9efd-bdd7eca2a5a6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 2,
    "min": null
  }
}]]></Config>
</DataType>