<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5975297-b691-4397-b01d-2af00f7bb172" Alias="Email Icons" Level="2">
  <Info>
    <Parent Key="0ae4305e-59fa-4bef-8624-96001050a478">Elements</Parent>
    <Path>/Elements/EmailIcons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-25T12:06:50</CreateDate>
    <NodeName Default="Email Icons" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>