<?xml version="1.0" encoding="utf-8"?>
<Media Key="116e7015-5adb-400d-9502-daafad5186ce" Alias="English" Level="3">
  <Info>
    <Parent Key="022de343-b809-4894-ab2e-162540a9a2b7">Email Banners</Parent>
    <Path>/Banners/EmailBanners/English</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-06-05T15:05:19</CreateDate>
    <NodeName Default="English" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>