<?xml version="1.0" encoding="utf-8"?>
<Media Key="5dcba832-0a26-49f4-8bf0-83ed365a4f5c" Alias="Envelope" Level="3">
  <Info>
    <Parent Key="c5975297-b691-4397-b01d-2af00f7bb172">Email Icons</Parent>
    <Path>/Elements/EmailIcons/Envelope</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-25T16:46:47</CreateDate>
    <NodeName Default="Envelope" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gsumwxjg/envelope.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>