<?xml version="1.0" encoding="utf-8"?>
<Media Key="20d554ab-1190-4aa2-a7c2-406f7b01871a" Alias="envelope-fill" Level="4">
  <Info>
    <Parent Key="c5975297-b691-4397-b01d-2af00f7bb172">Bootstrap</Parent>
    <Path>/Elements/Icons/Bootstrap/envelopeFill</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-05-27T06:31:06</CreateDate>
    <NodeName Default="envelope-fill" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tjknkieq/envelope-fill.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>