<?xml version="1.0" encoding="utf-8"?>
<Media Key="df0d4730-5eeb-4d54-8927-3c296279d199" Alias="Flags" Level="2">
  <Info>
    <Parent Key="0ae4305e-59fa-4bef-8624-96001050a478">Elements</Parent>
    <Path>/Elements/Flags</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-22T14:40:47</CreateDate>
    <NodeName Default="Flags" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>