<?xml version="1.0" encoding="utf-8"?>
<Media Key="df0d4730-5eeb-4d54-8927-3c296279d199" Alias="Flags" Level="3">
  <Info>
    <Parent Key="72459111-35ac-4231-88d4-e08f74e2edfe">Icons</Parent>
    <Path>/Elements/Icons/Flags</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-22T14:40:47</CreateDate>
    <NodeName Default="Flags" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>