<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f56e6ef-70d6-477f-b4be-054a59c9f0c4" Alias="Footers" Level="2">
  <Info>
    <Parent Key="0ae4305e-59fa-4bef-8624-96001050a478">Elements</Parent>
    <Path>/Elements/Footers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-27T20:53:18</CreateDate>
    <NodeName Default="Footers" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>