<?xml version="1.0" encoding="utf-8"?>
<Media Key="603c150e-3858-442d-a7d8-5385cab44397" Alias="Globe" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Globe</Path>
    <Trashed Parent="c5975297-b691-4397-b01d-2af00f7bb172">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-25T12:33:41</CreateDate>
    <NodeName Default="Globe" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bakdyycy/globe.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>