<?xml version="1.0" encoding="utf-8"?>
<Media Key="401d7420-70f8-4ca0-9953-6fac864c8ba0" Alias="LinkedIn" Level="3">
  <Info>
    <Parent Key="fb0c167b-1b76-4526-9d7e-407d4ea4b96c">Social Media Icons</Parent>
    <Path>/Elements/SocialMediaIcons/LinkedIn</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-22T16:58:36</CreateDate>
    <NodeName Default="LinkedIn" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ez0b0qhy/social-in.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>