<?xml version="1.0" encoding="utf-8"?>
<Media Key="97874192-42f3-43ae-97bf-d22bfe06fcde" Alias="Market News Footer (AR)" Level="2">
  <Info>
    <Parent Key="4f56e6ef-70d6-477f-b4be-054a59c9f0c4">Footers</Parent>
    <Path>/Footers/MarketNewsFooterAR</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-06T09:27:10</CreateDate>
    <NodeName Default="Market News Footer (AR)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/srajpf5t/marketnewsfooterar.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>