<?xml version="1.0" encoding="utf-8"?>
<Media Key="250fa82e-ee65-4381-9d7a-5bb57055d53b" Alias="Market News Footer (UK)" Level="3">
  <Info>
    <Parent Key="4f56e6ef-70d6-477f-b4be-054a59c9f0c4">Footers</Parent>
    <Path>/Elements/Footers/MarketNewsFooterUK</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-27T20:54:20</CreateDate>
    <NodeName Default="Market News Footer (UK)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fcua4jlf/marketnewsfooteruk.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>