<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b670284-b7ca-4efe-998a-c69d310d9e1e" Alias="Sailing World Banner" Level="4">
  <Info>
    <Parent Key="116e7015-5adb-400d-9502-daafad5186ce">English</Parent>
    <Path>/Banners/EmailBanners/English/SailingWorldBanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-22T09:55:39</CreateDate>
    <NodeName Default="Sailing World Banner" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qibgpc4k/sailing-world-banner.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>