<?xml version="1.0" encoding="utf-8"?>
<Media Key="0effdf85-34d4-4074-9d89-d3166f6f18dd" Alias="telephone-fill" Level="4">
  <Info>
    <Parent Key="c5975297-b691-4397-b01d-2af00f7bb172">Bootstrap</Parent>
    <Path>/Elements/Icons/Bootstrap/telephoneFill</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-27T17:43:15</CreateDate>
    <NodeName Default="telephone-fill" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qppp4dwu/telephone-fill.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>