<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c07ae5a-3832-4fe1-b3ff-0228ab3aa506" Alias="Test" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Test</Path>
    <Trashed Parent="c5975297-b691-4397-b01d-2af00f7bb172">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-25T12:07:05</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lsxao1bs/test.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>