<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="50a3a0a6-0f17-4797-9e4d-3cad89c30f9a" Alias="Click here for more details" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-AE">انقر هنا لمزيد من التفاصيل</Translation>
    <Translation Language="en-GB">Click here for more details</Translation>
    <Translation Language="ms-MY"></Translation>
  </Translations>
</Dictionary>