<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="558520e6-b884-4605-ba5d-ad641a4fc8a2" Alias="Registered address" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-AE">العنوان المُسجل</Translation>
    <Translation Language="en-GB">Registered address</Translation>
    <Translation Language="ms-MY"></Translation>
  </Translations>
</Dictionary>