version: "3.8"
name: icm
services:
    websites-staging:
        command: ["sleep", "infinity"]
        image: icm/websites
        container_name: icm-websites-staging
        restart: unless-stopped
        ports:
            - "5001:8080"
        environment:
            - ASPNETCORE_ENVIRONMENT=Staging
        volumes:
            - /var/icm/umbraco/staging/media:/app/wwwroot/media/
            - /var/icm/umbraco/staging/uSync:/app/uSync/
        networks:
            - icm-websites-staging
networks:
    icm-websites-staging:
