<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5975297-b691-4397-b01d-2af00f7bb172" Alias="Bootstrap" Level="3">
  <Info>
    <Parent Key="72459111-35ac-4231-88d4-e08f74e2edfe">Icons</Parent>
    <Path>/DesignElements/Icons/Bootstrap</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-25T12:06:50</CreateDate>
    <NodeName Default="Bootstrap" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>