<?xml version="1.0" encoding="utf-8"?>
<Media Key="3aba67b0-5ea7-4da6-b01b-85bb84d8cfc0" Alias="Flag VC" Level="4">
  <Info>
    <Parent Key="df0d4730-5eeb-4d54-8927-3c296279d199">Flags</Parent>
    <Path>/Elements/Icons/Flags/FlagVC</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-22T14:47:32</CreateDate>
    <NodeName Default="Flag VC" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wztluovh/r-flag-vc.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>