<?xml version="1.0" encoding="utf-8"?>
<Media Key="4899e58f-f812-4dd9-a73c-629373f4d491" Alias="globe2" Level="4">
  <Info>
    <Parent Key="c5975297-b691-4397-b01d-2af00f7bb172">Bootstrap</Parent>
    <Path>/DesignElements/Icons/Bootstrap/globe2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-27T17:41:42</CreateDate>
    <NodeName Default="globe2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rhsjssas/globe2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>