<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c3f9e1e-d553-4cf7-9599-d2cc4eeb8934" Alias="ICM AI Signal Banner" Level="4">
  <Info>
    <Parent Key="42cefd4e-af3c-4b84-a13f-b4ebc29e712f">Malay</Parent>
    <Path>/Banners/EmailBanners/Malay/ICMAISignalBanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-23T10:01:32</CreateDate>
    <NodeName Default="ICM AI Signal Banner" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dcpd4xct/vc-banner-ms.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>