<?xml version="1.0" encoding="utf-8"?>
<Media Key="72459111-35ac-4231-88d4-e08f74e2edfe" Alias="Icons" Level="2">
  <Info>
    <Parent Key="0ae4305e-59fa-4bef-8624-96001050a478">Design Elements</Parent>
    <Path>/DesignElements/Icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-27T06:24:49</CreateDate>
    <NodeName Default="Icons" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>