<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3219f9c-2c27-4470-baf2-605930db98a0" Alias="Instagram" Level="4">
  <Info>
    <Parent Key="fb0c167b-1b76-4526-9d7e-407d4ea4b96c">Social Media</Parent>
    <Path>/Elements/Icons/SocialMedia/Instagram</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-22T16:58:36</CreateDate>
    <NodeName Default="Instagram" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tkpddqzh/social-ig.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>