<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb0c167b-1b76-4526-9d7e-407d4ea4b96c" Alias="Social Media" Level="3">
  <Info>
    <Parent Key="72459111-35ac-4231-88d4-e08f74e2edfe">Icons</Parent>
    <Path>/DesignElements/Icons/SocialMedia</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-22T16:58:13</CreateDate>
    <NodeName Default="Social Media" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>