@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<footer>
	<div class="container">
		<div class="row" style="margin-bottom:20px;">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<!--<div class="col-md-2">
						  <p class="copy">&copy; 2024 ICM</p>
					</div>-->
					<!--<div class="col-md-10">
					  <div class="risk gold-color"> <span class="risk-info"><img src="assets/landing_pages/assets/nigeria/images/warning.png" alt=""><a href="#"><span class=" black-color"> <strong>Trade Responsibly:</strong></span></a></span> CFDs and Spot FX are complex instruments and come with a high risk of losing money rapidly due to leverage. You should not engage in his form of investing unless you understand the nature of the Transaction you are entering into and the true extent of your exposure to the risk of loss. Your profit and loss will vary according to the extent of the fluctuations in the price of the underlying markets on which the trade is based. </div>
					</div>-->
				</div>
				<div class="box">
					<div class="row">
						<div class="col-xs-12 col-md-12 text-center">
							<a href="https://www.icm.com/about-us/news/icm-and-swisspod-forge-partnership-to-innovate-the-future-of-hyperloop/" target="_blank"><img src="../img/swisspod-logo.png" alt="" height="80" border="0" class="img-responsive center-block" style="height:90px; display:inline; padding-right:25px;"></a>
							<a href="https://www.icm.com/about-us/news/global-investment-house-icm-com-partners-with-london-s-polo-in-the-park/" target="_blank"><img src="../img/Polo Logo En.svg" alt="" height="80" border="0" class="img-responsive center-block" style="height:80px; display:inline; padding-right:25px;"></a>
						</div>
					</div>
				</div>
				<div class="row ftr_pd">

					<h3>Truly Global</h3>
					<p><strong>ICM.com is a multinational established brand regulated and authorised in various jurisdictions around the world.</strong></p>
					<div class="footer_sec02">
						<div class="footer_item12">
							<p><img src="/static/media/1587300/footer-uk.png" alt="ICM Capital Limited (UK)">ICM Capital Limited (UK) is regulated and authorised by Financial Conduct Authority (FCA) registration number: 520965.</p>
							<p><img src="/static/media/2255584/footer-uae.png" alt="Abu Dhabi">ICM Limited (Abu Dhabi, UAE) is regulated and authorised by the Abu Dhabi Global Markets (ADGM) Financial Services Regulatory Authority (FSRA) registration number: 210045.</p>
							<p><img src="/static/media/1587302/footer-mauritius.png" alt="ICM Capital Limited (MU)">ICM Capital Limited (MU) is regulated and authorised by Financial Services Commission of Mauritius under license number: C118023357.</p>
							<p><img src="/static/media/1587303/footer-mly.png" alt="ICM Capital (Labuan) Limited">ICM Capital (Labuan) Limited is regulated and authorised by Financial Services Authority of Labuan under license number: MB/18/0029.</p>
							<p><img src="/static/media/1587299/footer-sv.png" alt="ICM Capital LLC (VC)">ICM Capital LLC (VC) is registered by the Financial Services Authority of Saint Vincent and the Grenadines under number: 1853 LLC 2022.</p>
							<p><img src="/static/media/2255835/footer-sa.png" alt="ICM Jurisdictions In SA">ICM Capital SA (Pty) Ltd is a licensed Financial Services Provider, regulated and authorised by the Financial Sector Conduct Authority (FSCA) of South Africa FSP: 53234.</p>
							<p><img src="/static/media/1587304/footer-swiss.png" alt="ICM House AG">ICM House AG (Zurich, Switzerland) is member of the ARIF (Association Romande des Intermediaries Financiers) under the registration number CHE-497.911.976.</p>
							<p style="padding-top: 10px;"><strong>For further details on the above licences, regulations, and legal documentations. Please&nbsp;</strong> <a style="text-decoration: underline;" data-id="58085" href="https://www.icm.com/about-us/regulations-and-legal-documentations/" target="_blank" title="Regulations and legal docs"><strong>click here</strong></a>.</p>
						</div>
					</div>

					<div class="footer_sec03">
						<p><strong>Trade Responsibly:</strong> Trading complex instruments that come with a high risk of losing funds due to leverage. You should not engage in this form of investing unless you understand the nature of the transaction you are undertaking and the true extent of your exposure to financial loss. Your profit and loss will vary according to the extent of the fluctuations in the price of the underlying markets on which the trade is based.</p>
						<p><strong>Regional restrictions:</strong> ICM Brand does not provide services to residents of the USA, North Korea and a few other countries.</p>
						<p><strong>Disclaimer:</strong> Information on this site is not directed at residents inany country or jurisdiction where such distribution or use would be contrary to local law or regulation.</p>
						<p>© 2024 ICM. All Rights Reserved.</p>
					</div>


					<div class="social_buttons"><a href="https://www.linkedin.com/company/icm.com" title="LinkedIn" class="social_button_in" target="_blank" style="cursor: pointer;"></a> <a href="http://www.youtube.com/user/ICMCapital" title="Youtube" class="social_button_yb" target="_blank"></a> <a href="https://www.instagram.com/ICMCapital/" title="Instagram" class="social_button_ig" target="_blank"></a> <a href="http://www.facebook.com/ICMCapital" title="Facebook" class="social_button_fb" target="_blank"></a> <a href="https://twitter.com/ICMCapital" title="Twitter" class="social_button_tw" target="_blank"></a></div>
				</div>

				 
			</div>
		</div>
	</div>
</footer>

