<?xml version="1.0" encoding="utf-8"?>
<Media Key="091ced97-8d08-477a-80d4-2c302531ac7f" Alias="Chestertons Polo Logo" Level="2">
  <Info>
    <Parent Key="00705040-9bd9-4b4f-9962-3781dcec653b">Logos</Parent>
    <Path>/Logos/ChestertonsPoloLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-22T09:56:22</CreateDate>
    <NodeName Default="Chestertons Polo Logo" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/shwbycii/chestertons-polo-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>