<?xml version="1.0" encoding="utf-8"?>
<Media Key="022de343-b809-4894-ab2e-162540a9a2b7" Alias="Email Banners" Level="2">
  <Info>
    <Parent Key="1f2c661e-0bd2-424d-9b98-c9c5d59ebe37">Banners</Parent>
    <Path>/Banners/EmailBanners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-22T10:01:47</CreateDate>
    <NodeName Default="Email Banners" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>