<?xml version="1.0" encoding="utf-8"?>
<Domain Key="974fcf30-0000-0000-0000-000000000000" Alias="next.icmtrader.com:5000">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="cd5d0b4d-c5bc-48c9-9daf-26effcc30e29">/www.icmtrader.com/Home</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>