<?xml version="1.0" encoding="utf-8"?>
<Domain Key="a33eed7e-0000-0000-0000-000000000000" Alias="next.icmmena.com">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="5f448381-9346-4e25-8c88-e6c5becd99e3">/www.icmmena.com/Home</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>