<?xml version="1.0" encoding="utf-8"?>
<Domain Key="00efa774-0000-0000-0000-000000000000" Alias="next.icmcapital.co.uk">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="db6a68ff-5061-4de6-8918-0f2d49cab1a5">/www.icmcapital.co.uk/Home</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>