<?xml version="1.0" encoding="utf-8"?>
<Domain Key="a33eed7e-0000-0000-0000-000000000000" Alias="next.icmmena.com">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="0990e61d-7357-4fda-8d2c-ffe133c4dce2">/www.icmmena.com/Home</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>