<?xml version="1.0" encoding="utf-8"?>
<Domain Key="66b496ac-0000-0000-0000-000000000000" Alias="next.icm.com:5000">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="944db595-058e-4a36-9fc3-1a69dcbe83a1">/www.icm.com/Home</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>