<?xml version="1.0" encoding="utf-8"?>
<Domain Key="153175c0-0000-0000-0000-000000000000" Alias="next.icmhouse.com:5000">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="4f30a295-4517-4dbc-8345-de3b247e4d53">/www.icmhouse.com/Home</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>