<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f2c661e-0bd2-424d-9b98-c9c5d59ebe37" Alias="Banners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Banners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-22T09:55:12</CreateDate>
    <NodeName Default="Banners" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>