<?xml version="1.0" encoding="utf-8"?>
<Media Key="d43e4308-b31f-46f1-ab1e-09908ff96b3e" Alias="Flag CH" Level="4">
  <Info>
    <Parent Key="df0d4730-5eeb-4d54-8927-3c296279d199">Flags</Parent>
    <Path>/Elements/Icons/Flags/FlagCH</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-22T14:47:32</CreateDate>
    <NodeName Default="Flag CH" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bzbd3va5/r-flag-ch.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>