<?xml version="1.0" encoding="utf-8"?>
<Media Key="585209dc-41a9-4a9c-8f71-6d870d3e6aed" Alias="Flag UK" Level="4">
  <Info>
    <Parent Key="df0d4730-5eeb-4d54-8927-3c296279d199">Flags</Parent>
    <Path>/Elements/Icons/Flags/FlagUK</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-22T14:47:32</CreateDate>
    <NodeName Default="Flag UK" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1iefewfj/r-flag-uk.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>