<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f56e6ef-70d6-477f-b4be-054a59c9f0c4" Alias="Footers" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Footers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-27T20:53:18</CreateDate>
    <NodeName Default="Footers" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>