<?xml version="1.0" encoding="utf-8"?>
<Media Key="317cfd29-2eea-4899-ab43-340db28763a7" Alias="ICM Logo" Level="2">
  <Info>
    <Parent Key="00705040-9bd9-4b4f-9962-3781dcec653b">Logos</Parent>
    <Path>/Logos/ICMLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-22T09:56:00</CreateDate>
    <NodeName Default="ICM Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f54hympk/icm-default-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>