<?xml version="1.0" encoding="utf-8"?>
<Media Key="83030fbc-e20d-47f4-a4e8-850d1ddad0a9" Alias="Sailing World Banner" Level="4">
  <Info>
    <Parent Key="32ea6892-ce31-4dec-adfd-bdfe82a4aef8">Arabic</Parent>
    <Path>/Banners/EmailBanners/Arabic/SailingWorldBanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-05T15:06:58</CreateDate>
    <NodeName Default="Sailing World Banner" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xihbhayn/sailing-world-banner.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>