<?xml version="1.0" encoding="utf-8"?>
<Content Key="2db52465-50dd-42e9-a816-1c5f3da9b56a" Alias="Home" Level="2">
  <Info>
    <Parent Key="34480673-347b-4385-8cd6-6f29c0c4d7a0">www.icm.com</Parent>
    <Path>/wwwicmcom/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-05-19T18:03:30</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ed37672f-c21e-419e-a259-249d9518e2b3">WebPageTemplate</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[www.icm.com]]></Value>
    </title>
  </Properties>
</Content>