<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6e7ec04-ff8a-4f8f-8ec1-cf05a8ed7a9a" Alias="Landing Pages" Level="2">
  <Info>
    <Parent Key="4e790028-0997-420b-8602-ef744a4c34e8">www.icmmena.com</Parent>
    <Path>/wwwicmmenacom/LandingPages</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPagesFolder</ContentType>
    <CreateDate>2023-05-19T18:07:08</CreateDate>
    <NodeName Default="Landing Pages" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>