<?xml version="1.0" encoding="utf-8"?>
<Content Key="34480673-347b-4385-8cd6-6f29c0c4d7a0" Alias="www.icm.com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wwwicmcom</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteFolder</ContentType>
    <CreateDate>2023-05-19T17:57:33</CreateDate>
    <NodeName Default="www.icm.com" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>