<?xml version="1.0" encoding="utf-8"?>
<Domain Key="65a6c17e-0000-0000-0000-000000000000" Alias="http://local.icm.com:5000/emails">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="4146be67-9ae0-42b1-a345-1a1d6144439f">/www.icm.com/Email Templates</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>