<?xml version="1.0" encoding="utf-8"?>
<Domain Key="257c50e0-0000-0000-0000-000000000000" Alias="http://local.icm.com:5000/ar/emails">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ar-AE</Language>
    <Root Key="4146be67-9ae0-42b1-a345-1a1d6144439f">/www.icm.com/Email Templates</Root>
    <SortOrder>2</SortOrder>
  </Info>
</Domain>