<?xml version="1.0" encoding="utf-8"?>
<Domain Key="a89d1429-0000-0000-0000-000000000000" Alias="next.icmcapital.co.uk:5000/ar/emails">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ar-AE</Language>
    <Root Key="ab4a8560-e596-406c-96ec-3ce3b31381c7">/www.icmcapital.co.uk/Email Templates</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>