<?xml version="1.0" encoding="utf-8"?>
<Domain Key="53443d49-0000-0000-0000-000000000000" Alias="next.icmcapital.co.uk:5000">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="70990448-fb15-47f0-a59f-794963116a70">/www.icmcapital.co.uk/Home</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>