<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="69e4af15-b0ff-4f0a-8665-9bea9d82b697" Alias="Economic Calendar" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-AE">التقويم الاقتصادي</Translation>
    <Translation Language="en-GB">Economic Calendar</Translation>
    <Translation Language="ms-MY">Kalendar ekonomi</Translation>
  </Translations>
</Dictionary>