<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e4410a2d-7fb8-46e5-a2a4-76944cccd02d" Alias="Unsubscribe" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-AE">إلغاء الاشتراك</Translation>
    <Translation Language="en-GB">Unsubscribe</Translation>
    <Translation Language="ms-MY">Nyahlanggan</Translation>
  </Translations>
</Dictionary>