<?xml version="1.0" encoding="utf-8"?>
<Content Key="557daa25-a976-41e2-94ed-5ad4a18c1f9e" Alias="Global Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>globalSettings</ContentType>
    <CreateDate>2023-05-19T18:01:04</CreateDate>
    <NodeName Default="Global Settings">
      <Name Culture="ar-ae">Global Settings</Name>
      <Name Culture="en-gb">Global Settings</Name>
      <Name Culture="ms-my">Global Settings</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="ar-ae">true</Published>
      <Published Culture="en-gb">true</Published>
      <Published Culture="ms-my">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <entities>
      <Value Culture="ar-ae"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6cb807618f504cee89e3df8f69d0551a"
      },
      {
        "contentUdi": "umb://element/b0e801cc414b4893bb08f3361c6e7e76"
      },
      {
        "contentUdi": "umb://element/55e1bb6f908541a0858454de759060e7"
      },
      {
        "contentUdi": "umb://element/ea07e78942ca44d6a13ff6f45d3ea91d"
      },
      {
        "contentUdi": "umb://element/0c5cbdfe711e4403bd6766a7fd399805"
      },
      {
        "contentUdi": "umb://element/d6f907f302984e67ae167557b0d89fac"
      },
      {
        "contentUdi": "umb://element/b9a6157edb294cfb9da2ee695e11e145"
      },
      {
        "contentUdi": "umb://element/c11af60504be48068dc7935d7394cefb"
      },
      {
        "contentUdi": "umb://element/eca0019db51e4288b421f49bb08fbaa9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/6cb807618f504cee89e3df8f69d0551a",
      "address": "Level 17, Dashwood House, 69 Old Broad St, London, EC2M 1QS, United Kingdom",
      "email": "support@icmcapital.co.uk",
      "phoneNumber": "+44 207 634 9770",
      "title": "ICM Capital Limited (UK)",
      "websiteURL": "[{\"name\":\"https://www.icmcapital.co.uk/\",\"url\":\"https://www.icmcapital.co.uk\"}]",
      "icon": "[\r\n  {\r\n    \"key\": \"cb3ead0f-821a-4a6f-809b-43b687aeae22\",\r\n    \"mediaKey\": \"585209dc-41a9-4a9c-8f71-6d870d3e6aed\"\r\n  }\r\n]",
      "regulationInfo": "آي سي إم كابيتال ليمتد (المملكة المتحدة)؛ شركة خاضِعَة ومُنَظَّمَة من قِبَل هيئة مُراقَبَة السُلُوكِيَات المالية(FCA) بمُوجَبْ رقم التسجيل: 520965.",
      "registrationInfo": "آى سي إم كابيتال المحدودة، شركة مُسجلة في انجلترا وويلز، بمُوجب رقم التسجيل التالي: 07101360"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/b0e801cc414b4893bb08f3361c6e7e76",
      "title": "ICM Capital LLC (VC)",
      "websiteURL": "[{\"name\":\"https://www.icm.com/ar\",\"url\":\"https://www.icm.com/ar\"}]",
      "icon": "[\r\n  {\r\n    \"key\": \"fc392688-71e7-4fed-9b6a-3c22d3b33059\",\r\n    \"mediaKey\": \"3aba67b0-5ea7-4da6-b01b-85bb84d8cfc0\"\r\n  }\r\n]",
      "regulationInfo": "آي سي إم كابيتال (لابوان) ليمتد، مسجلة ومعتمدة من هيئة الخدمات المالية بـ لابوان بموجب رقم الترخيص: MB/18/0029",
      "phoneNumber": "+44 207 634 9779",
      "address": "Beachmont Business Centre, Suite 288, Kingstown, St. Vincent and the Grenadines.",
      "email": "support@icm.com"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/55e1bb6f908541a0858454de759060e7",
      "title": "ICM Capital Limited (MU)",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"19817bcf-8275-4909-a5f8-9d16e1aff25e\",\r\n    \"mediaKey\": \"e39b4c63-8217-4f3f-980e-3639bfdf4de5\"\r\n  }\r\n]",
      "regulationInfo": "آي سي إم كابيتال (MU) ليمتد، مسجله وحائزة على ترخيص من هيئة الخدمات المالية، موريشيوس بموجب رقم الترخيص: C118023357"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/ea07e78942ca44d6a13ff6f45d3ea91d",
      "title": "ICM Limited (UAE)",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"224cbe13-e04d-4d14-93ce-85af80a727f0\",\r\n    \"mediaKey\": \"3209bf28-04e5-4f36-a43f-0254ac9681dd\"\r\n  }\r\n]",
      "regulationInfo": "ICM Limited (UAE) is authorised and regulated by Abu Dhabi Global Market (ADGM) Financial Services Regulatory Authority (FSRA) under the Financial Services Permission Number: 210045."
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/0c5cbdfe711e4403bd6766a7fd399805",
      "title": "ICM Capital Limited (Labuan)",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"07b49fec-6ed5-4970-94d0-a0326728c12e\",\r\n    \"mediaKey\": \"36220e04-99a2-423d-9789-9b5db2eed0b4\"\r\n  }\r\n]",
      "regulationInfo": "آي سي إم كابيتال (لابوان) ليمتد، مسجلة ومعتمدة من هيئة الخدمات المالية بـ لابوان بموجب رقم الترخيص: MB/18/0029"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/d6f907f302984e67ae167557b0d89fac",
      "title": "ICM LLC (Qatar)",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"8ddfa458-e656-4940-8e81-1add3cdfc0c7\",\r\n    \"mediaKey\": \"1b5079aa-7a9b-4169-83ad-1774bf79d282\"\r\n  }\r\n]",
      "regulationInfo": "آي سي إم ليمتد (قطر) شركة معتمدة ومرخصة من مركز قطر للمال، دولة قطر، بموجب رقم الترخيص :00908"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/b9a6157edb294cfb9da2ee695e11e145",
      "title": "ICM Trader LLC",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"74022504-fc1b-4b46-91e1-bfa621534761\",\r\n    \"mediaKey\": \"3aba67b0-5ea7-4da6-b01b-85bb84d8cfc0\"\r\n  }\r\n]",
      "regulationInfo": "ICM Trader LLC is regulated and authorised by the Financial Services Authority of Saint Vincent and the Grenadines under license number: 1858 LLC 2022."
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/c11af60504be48068dc7935d7394cefb",
      "title": "ICM House AG (Zurich, Switzerland)",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"9592558d-4c4b-4581-8f21-35081cc325e6\",\r\n    \"mediaKey\": \"d43e4308-b31f-46f1-ab1e-09908ff96b3e\"\r\n  }\r\n]",
      "regulationInfo": "آي سي إم هاوس (سويسرا) حائزة على ترخيص وتعمل تحت إشراف اتحاد روماندي للوسطاء الماليين، بموجب رقم التسجيل: CHE-497.911.976"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/eca0019db51e4288b421f49bb08fbaa9",
      "title": "ICM House KB",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"58520eaa-dc21-441a-9336-7d7bcdd31a34\",\r\n    \"mediaKey\": \"b66d22fe-e507-461d-8070-ece9ca6103ec\"\r\n  }\r\n]",
      "regulationInfo": "آي سي إم هاوس (السويد) شركة مرخصة ومسجلة بموجب قوانين دولة السويد تحت إشراف مجلس إدارة مقاطعة ستوكهولم بموجب رقم التسجيل: <span dir=\"ltr\" style=\"direction:ltr\">969792-7961.</span>"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-gb"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/423434de7d194ccf8fa0d86ba58cfeda"
      },
      {
        "contentUdi": "umb://element/58ddbd32132a4e22a58f685fb6f3a62b"
      },
      {
        "contentUdi": "umb://element/7e47f8642c214b7f813163c16650a33b"
      },
      {
        "contentUdi": "umb://element/980e284fb131424ba82ddd12d1e1b2aa"
      },
      {
        "contentUdi": "umb://element/6ceaa10c50fb4f3f9478fa3d61acd935"
      },
      {
        "contentUdi": "umb://element/7b88b0d4aac248f2810feecc7dfc701a"
      },
      {
        "contentUdi": "umb://element/b052b55d7c3b43819fd7bb6b992db9bd"
      },
      {
        "contentUdi": "umb://element/3289de1263454bae85d6c24791b26771"
      },
      {
        "contentUdi": "umb://element/c28cea895a54417ea9efd024d275f797"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/423434de7d194ccf8fa0d86ba58cfeda",
      "address": "Level 17, Dashwood House, 69 Old Broad St, London, EC2M 1QS, United Kingdom",
      "email": "support@icmcapital.co.uk",
      "phoneNumber": "+44 207 634 9770",
      "title": "ICM Capital Limited (UK)",
      "websiteURL": "[{\"name\":\"https://www.icmcapital.co.uk/\",\"url\":\"https://www.icmcapital.co.uk\"}]",
      "icon": "[\r\n  {\r\n    \"key\": \"cb3ead0f-821a-4a6f-809b-43b687aeae22\",\r\n    \"mediaKey\": \"585209dc-41a9-4a9c-8f71-6d870d3e6aed\"\r\n  }\r\n]",
      "regulationInfo": "ICM Capital Limited (UK) is regulated and authorised by Financial Conduct Authority (FCA) registration number: 520965.",
      "registrationInfo": "ICM Capital Limited (UK) is a company registered in England and Wales under registered number: 07101360."
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/6ceaa10c50fb4f3f9478fa3d61acd935",
      "title": "ICM Capital Limited (Labuan)",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"07b49fec-6ed5-4970-94d0-a0326728c12e\",\r\n    \"mediaKey\": \"36220e04-99a2-423d-9789-9b5db2eed0b4\"\r\n  }\r\n]",
      "regulationInfo": "ICM Capital (Labuan) Limited is regulated and authorised by Financial Services Authority of Labuan under license number: MB/18/0029."
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/7e47f8642c214b7f813163c16650a33b",
      "title": "ICM Capital Limited (MU)",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"19817bcf-8275-4909-a5f8-9d16e1aff25e\",\r\n    \"mediaKey\": \"e39b4c63-8217-4f3f-980e-3639bfdf4de5\"\r\n  }\r\n]",
      "regulationInfo": "ICM Capital Limited (MU) is regulated and authorised by Financial Services Commission of Mauritius under license number: C118023357."
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/3289de1263454bae85d6c24791b26771",
      "title": "ICM House AG (Zurich, Switzerland)",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"9592558d-4c4b-4581-8f21-35081cc325e6\",\r\n    \"mediaKey\": \"d43e4308-b31f-46f1-ab1e-09908ff96b3e\"\r\n  }\r\n]",
      "regulationInfo": "ICM House AG (Zurich, Switzerland) is licensed under the supervision of ARIF registration number CHE-497.911.976."
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/58ddbd32132a4e22a58f685fb6f3a62b",
      "title": "ICM Capital LLC (VC)",
      "websiteURL": "[{\"name\":\"https://www.icm.com\",\"url\":\"https://www.icm.com\"}]",
      "icon": "[\r\n  {\r\n    \"key\": \"fc392688-71e7-4fed-9b6a-3c22d3b33059\",\r\n    \"mediaKey\": \"3aba67b0-5ea7-4da6-b01b-85bb84d8cfc0\"\r\n  }\r\n]",
      "regulationInfo": "ICM Capital LLC (VC) is registered by the Financial Services Authority of Saint Vincent and the Grenadines under number: 1853 LLC 2022.",
      "phoneNumber": "+44 207 634 9779",
      "address": "Beachmont Business Centre, Suite 288, Kingstown, St. Vincent and the Grenadines.",
      "email": "support@icm.com"
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/c28cea895a54417ea9efd024d275f797",
      "title": "ICM House KB",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"58520eaa-dc21-441a-9336-7d7bcdd31a34\",\r\n    \"mediaKey\": \"b66d22fe-e507-461d-8070-ece9ca6103ec\"\r\n  }\r\n]",
      "regulationInfo": "ICM House KB is registered and regulated under the laws of Sweden under supervision of the Stockholm County Administrative Board with registration number: 969792-7961. SWIFT/BIC: ICHOSES2."
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/7b88b0d4aac248f2810feecc7dfc701a",
      "title": "ICM LLC (Qatar)",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"8ddfa458-e656-4940-8e81-1add3cdfc0c7\",\r\n    \"mediaKey\": \"1b5079aa-7a9b-4169-83ad-1774bf79d282\"\r\n  }\r\n]",
      "regulationInfo": "ICM LLC (Qatar) is regulated and authorised by Qatar Financial Centre of Qatar under license number: 00908."
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/980e284fb131424ba82ddd12d1e1b2aa",
      "title": "ICM Limited (UAE)",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"224cbe13-e04d-4d14-93ce-85af80a727f0\",\r\n    \"mediaKey\": \"3209bf28-04e5-4f36-a43f-0254ac9681dd\"\r\n  }\r\n]",
      "regulationInfo": "ICM Limited (UAE) is authorised and regulated by Abu Dhabi Global Market (ADGM) Financial Services Regulatory Authority (FSRA) under the Financial Services Permission Number: 210045."
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/b052b55d7c3b43819fd7bb6b992db9bd",
      "title": "ICM Trader LLC",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"74022504-fc1b-4b46-91e1-bfa621534761\",\r\n    \"mediaKey\": \"3aba67b0-5ea7-4da6-b01b-85bb84d8cfc0\"\r\n  }\r\n]",
      "regulationInfo": "ICM Trader LLC is regulated and authorised by the Financial Services Authority of Saint Vincent and the Grenadines under license number: 1858 LLC 2022."
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="ms-my"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/164052c368674944a5366cf45bb3148a"
      },
      {
        "contentUdi": "umb://element/1ca654ef7d5f4a50b578bb98efac12b2"
      },
      {
        "contentUdi": "umb://element/73bd2603e4bd4030958ac8fa85b97446"
      },
      {
        "contentUdi": "umb://element/cc542ce874df48a9b0741f917dd51f54"
      },
      {
        "contentUdi": "umb://element/b04ecd123c0342d8b70ece1dfea4748a"
      },
      {
        "contentUdi": "umb://element/fc0699b86ab04d49a29e6b1db851b672"
      },
      {
        "contentUdi": "umb://element/155d472ee0564e08b6e4e1b788a66d5a"
      },
      {
        "contentUdi": "umb://element/15c45bef71184c8cbc62620c3046db77"
      },
      {
        "contentUdi": "umb://element/3c1ab2ad0a3145dfb09cb6a198be0022"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/164052c368674944a5366cf45bb3148a",
      "address": "Level 17, Dashwood House, 69 Old Broad St, London, EC2M 1QS, United Kingdom",
      "email": "support@icmcapital.co.uk",
      "phoneNumber": "+44 207 634 9770",
      "title": "ICM Capital Limited (UK)",
      "websiteURL": "[{\"name\":\"https://www.icmcapital.co.uk/\",\"url\":\"https://www.icmcapital.co.uk\"}]",
      "icon": "[\r\n  {\r\n    \"key\": \"cb3ead0f-821a-4a6f-809b-43b687aeae22\",\r\n    \"mediaKey\": \"585209dc-41a9-4a9c-8f71-6d870d3e6aed\"\r\n  }\r\n]",
      "regulationInfo": "ICM Capital Limited (UK) dikawal selia dan diberi kuasa oleh nombor pendaftaran Financial Conduct Authority (FCA): 520965.",
      "registrationInfo": "ICM Capital Limited (UK) is a company registered in England and Wales under registered number: 07101360.",
      "whatsappNumber": ""
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/1ca654ef7d5f4a50b578bb98efac12b2",
      "title": "ICM Capital LLC (VC)",
      "websiteURL": "[{\"name\":\"https://www.icmcapital.my/ms\",\"url\":\"https://www.icmcapital.my/ms\"}]",
      "icon": "[\r\n  {\r\n    \"key\": \"fc392688-71e7-4fed-9b6a-3c22d3b33059\",\r\n    \"mediaKey\": \"3aba67b0-5ea7-4da6-b01b-85bb84d8cfc0\"\r\n  }\r\n]",
      "regulationInfo": "ICM Capital LLC (VC) didaftarkan oleh Financial Services Authority of Saint Vincent dan Grenadines di bawah nombor: 1853 LLC 2022.",
      "phoneNumber": "+603 8604 4987",
      "email": "my.support@icm.com",
      "whatsappNumber": "+44 7575 070707",
      "address": "Beachmont Business Centre, Suite 288, Kingstown, St. Vincent and the Grenadines."
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/73bd2603e4bd4030958ac8fa85b97446",
      "title": "ICM Capital Limited (MU)",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"19817bcf-8275-4909-a5f8-9d16e1aff25e\",\r\n    \"mediaKey\": \"e39b4c63-8217-4f3f-980e-3639bfdf4de5\"\r\n  }\r\n]",
      "regulationInfo": "ICM Capital Limited (MU) dikawal selia dan diberi kuasa di bawah nombor lesen: C118023357."
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/cc542ce874df48a9b0741f917dd51f54",
      "title": "ICM Limited (UAE)",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"224cbe13-e04d-4d14-93ce-85af80a727f0\",\r\n    \"mediaKey\": \"3209bf28-04e5-4f36-a43f-0254ac9681dd\"\r\n  }\r\n]",
      "regulationInfo": "ICM Limited (UAE) is authorised and regulated by Abu Dhabi Global Market (ADGM) Financial Services Regulatory Authority (FSRA) under the Financial Services Permission Number: 210045."
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/b04ecd123c0342d8b70ece1dfea4748a",
      "title": "ICM Capital Limited (Labuan)",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"07b49fec-6ed5-4970-94d0-a0326728c12e\",\r\n    \"mediaKey\": \"36220e04-99a2-423d-9789-9b5db2eed0b4\"\r\n  }\r\n]",
      "regulationInfo": "ICM Capital (Labuan) Limited dikawal selia dan diberi kuasa oleh Lembaga Perkhidmatan Kewangan Labuan dengan nombor lesen: MB/18/0029."
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/fc0699b86ab04d49a29e6b1db851b672",
      "title": "ICM LLC (Qatar)",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"8ddfa458-e656-4940-8e81-1add3cdfc0c7\",\r\n    \"mediaKey\": \"1b5079aa-7a9b-4169-83ad-1774bf79d282\"\r\n  }\r\n]",
      "regulationInfo": "ICM LLC (Qatar) dikawal selia dan diberi kuasa oleh Pusat Kewangan Qatar dengan nombor lesen: 00908."
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/155d472ee0564e08b6e4e1b788a66d5a",
      "title": "ICM Trader LLC",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"74022504-fc1b-4b46-91e1-bfa621534761\",\r\n    \"mediaKey\": \"3aba67b0-5ea7-4da6-b01b-85bb84d8cfc0\"\r\n  }\r\n]",
      "regulationInfo": "ICM Trader LLC is regulated and authorised by the Financial Services Authority of Saint Vincent and the Grenadines under license number: 1858 LLC 2022."
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/15c45bef71184c8cbc62620c3046db77",
      "title": "ICM House AG (Zurich, Switzerland)",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"9592558d-4c4b-4581-8f21-35081cc325e6\",\r\n    \"mediaKey\": \"d43e4308-b31f-46f1-ab1e-09908ff96b3e\"\r\n  }\r\n]",
      "regulationInfo": "ICM House AG (Zurich, Switzerland) dilesenkan di bawah pengawasan nombor pendaftaran ARIF CHE-497.911.976."
    },
    {
      "contentTypeKey": "66fdae55-c798-403a-9007-d88a5fd4d886",
      "udi": "umb://element/3c1ab2ad0a3145dfb09cb6a198be0022",
      "title": "ICM House KB",
      "websiteURL": null,
      "icon": "[\r\n  {\r\n    \"key\": \"58520eaa-dc21-441a-9336-7d7bcdd31a34\",\r\n    \"mediaKey\": \"b66d22fe-e507-461d-8070-ece9ca6103ec\"\r\n  }\r\n]",
      "regulationInfo": "ICM House KB didaftarkan dan dikawal selia di bawah undang-undang Sweden di bawah pengawasan Lembaga Pentadbiran Daerah Stockholm dengan nombor pendaftaran: 969792-7961. SWIFT/BIC: ICHOSES2."
    }
  ],
  "settingsData": []
}]]></Value>
    </entities>
    <riskWarning>
      <Value Culture="ar-ae"><![CDATA[<div>
<div>العقود مقابل الفروقات والفوركس الفوري من الأدوات المالية المركبة، وينطويان على مخاطر كبيرة وسريعة لفقدان الأموال بسبب الرافعة المالية. تتفاوت أرباحك وخسائرك بناء على حجم التقلبات التي تشهدها حركة الأسواق الرئيسية التي يقوم عليها التداول.</div>
</div>]]></Value>
      <Value Culture="en-gb"><![CDATA[<p>CFDs and Spot FX are complex instruments with a high risk of losing money rapidly due to leverage. Your profit and loss will vary according to the extent of the fluctuations in the price of the underlying markets on which the trade is based.</p>]]></Value>
      <Value Culture="ms-my"><![CDATA[<p>CFD dan Spot FX adalah instrumen kompleks yang berisiko tinggi kehilangan dana kerana leverage. Anda tidak boleh terlibat dalam bentuk pelaburan ini melainkan anda memahami sifat transaksi yang anda lakukan dan sejauh mana pendedahan anda terhadap kerugian kewangan. Untung dan rugi anda akan berbeza-beza mengikut sejauh mana turun naiknya harga pasaran yang mendasari perdagangan tersebut.</p>]]></Value>
    </riskWarning>
    <socialMediaLinks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b13fe12ebc234d519879ad74bec1b726"
      },
      {
        "contentUdi": "umb://element/68e08262507a4c6fa7f4a4071ca604ac"
      },
      {
        "contentUdi": "umb://element/2c900e40a33d497cb2316734513088d9"
      },
      {
        "contentUdi": "umb://element/4ee7e4acbf7a4be2988aca5927479bcc"
      },
      {
        "contentUdi": "umb://element/23969293e2ad4264b4f86aa9680a7c4d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "efeeb13e-6bb7-4c39-9f30-c7de5e5f66af",
      "udi": "umb://element/b13fe12ebc234d519879ad74bec1b726",
      "icon": "[\r\n  {\r\n    \"key\": \"49e22953-91cf-4aef-bbb5-ee60386582cf\",\r\n    \"mediaKey\": \"401d7420-70f8-4ca0-9953-6fac864c8ba0\"\r\n  }\r\n]",
      "url": "[{\"name\":\"https://www.linkedin.com/company/icm.com/\",\"url\":\"https://www.linkedin.com/company/icm.com/\"}]",
      "title": "LinkedIn"
    },
    {
      "contentTypeKey": "efeeb13e-6bb7-4c39-9f30-c7de5e5f66af",
      "udi": "umb://element/68e08262507a4c6fa7f4a4071ca604ac",
      "icon": "[\r\n  {\r\n    \"key\": \"ac464ac5-6ee4-45e8-ba8a-ade057df67b9\",\r\n    \"mediaKey\": \"73642f64-1055-4c96-acd5-85556e2042ea\"\r\n  }\r\n]",
      "url": "[{\"name\":\"https://www.youtube.com/user/ICMCapital\",\"url\":\"https://www.youtube.com/user/ICMCapital\"}]",
      "title": "YouTube"
    },
    {
      "contentTypeKey": "efeeb13e-6bb7-4c39-9f30-c7de5e5f66af",
      "udi": "umb://element/2c900e40a33d497cb2316734513088d9",
      "icon": "[\r\n  {\r\n    \"key\": \"0cc579cb-e253-4748-9684-d3550c5f66d9\",\r\n    \"mediaKey\": \"c3219f9c-2c27-4470-baf2-605930db98a0\"\r\n  }\r\n]",
      "url": "[{\"name\":\"https://www.instagram.com/ICMCapital/\",\"url\":\"https://www.instagram.com/ICMCapital/\"}]",
      "title": "Instagram"
    },
    {
      "contentTypeKey": "efeeb13e-6bb7-4c39-9f30-c7de5e5f66af",
      "udi": "umb://element/4ee7e4acbf7a4be2988aca5927479bcc",
      "icon": "[\r\n  {\r\n    \"key\": \"178d5014-c227-47f9-8e46-39f3ee40388a\",\r\n    \"mediaKey\": \"5401f466-c68b-48ad-a52f-0bbe80adbfa0\"\r\n  }\r\n]",
      "url": "[{\"name\":\"https://www.facebook.com/ICMCapital\",\"url\":\"https://www.facebook.com/ICMCapital\"}]",
      "title": "Facebook"
    },
    {
      "contentTypeKey": "efeeb13e-6bb7-4c39-9f30-c7de5e5f66af",
      "udi": "umb://element/23969293e2ad4264b4f86aa9680a7c4d",
      "icon": "[\r\n  {\r\n    \"key\": \"ed619f5d-6d42-44e7-98a3-f8a193a6278b\",\r\n    \"mediaKey\": \"9cfd885b-1e9b-4fd9-a33a-faeebede9157\"\r\n  }\r\n]",
      "url": "[{\"name\":\"https://twitter.com/ICMCapital/\",\"url\":\"https://twitter.com/ICMCapital/\"}]",
      "title": "Twitter"
    }
  ],
  "settingsData": []
}]]></Value>
    </socialMediaLinks>
  </Properties>
</Content>