<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ec31f07-d9fb-481c-81b1-5af4f21c1409" Alias="Market News (MU)" Level="3">
  <Info>
    <Parent Key="4146be67-9ae0-42b1-a345-1a1d6144439f">Email Templates</Parent>
    <Path>/wwwicmcom/EmailTemplates/MarketNewsMU</Path>
    <Trashed>false</Trashed>
    <ContentType>marketNewsEmail</ContentType>
    <CreateDate>2023-05-21T16:57:44</CreateDate>
    <NodeName Default="Market News (MU)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72a68c2e-c730-43a6-9d7f-b548e6033c43">MarketNewsEmailTemplate</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[]]></Value>
    </banner>
    <bannerURL>
      <Value><![CDATA[]]></Value>
    </bannerURL>
    <eCalendarURL>
      <Value><![CDATA[]]></Value>
    </eCalendarURL>
    <entity>
      <Value><![CDATA[]]></Value>
    </entity>
    <firstPartnerLogo>
      <Value><![CDATA[]]></Value>
    </firstPartnerLogo>
    <firstPartnerURL>
      <Value><![CDATA[]]></Value>
    </firstPartnerURL>
    <mainLogo>
      <Value><![CDATA[]]></Value>
    </mainLogo>
    <secondPartnerLogo>
      <Value><![CDATA[]]></Value>
    </secondPartnerLogo>
    <secondPartnerURL>
      <Value><![CDATA[]]></Value>
    </secondPartnerURL>
    <senderEmail>
      <Value><![CDATA[]]></Value>
    </senderEmail>
    <showEntityList>
      <Value><![CDATA[]]></Value>
    </showEntityList>
  </Properties>
</Content>