<?xml version="1.0" encoding="utf-8"?>
<Content Key="bdb46f56-8ff6-4f69-bd01-be962c2f97b1" Alias="Market News" Level="3">
  <Info>
    <Parent Key="6de7265c-9a76-400f-9ec6-92e5f28f2595">Email Templates</Parent>
    <Path>/wwwicmtradercom/EmailTemplates/MarketNews</Path>
    <Trashed>false</Trashed>
    <ContentType>marketNewsEmail</ContentType>
    <CreateDate>2023-05-21T17:02:36</CreateDate>
    <NodeName Default="Market News" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72a68c2e-c730-43a6-9d7f-b548e6033c43">MarketNewsEmailTemplate</Template>
  </Info>
  <Properties>
    <calendarURL>
      <Value><![CDATA[]]></Value>
    </calendarURL>
    <disclaimer>
      <Value><![CDATA[]]></Value>
    </disclaimer>
    <entity>
      <Value><![CDATA[]]></Value>
    </entity>
    <footerImage>
      <Value><![CDATA[]]></Value>
    </footerImage>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <partners>
      <Value><![CDATA[]]></Value>
    </partners>
    <senderEmail>
      <Value><![CDATA[]]></Value>
    </senderEmail>
    <showEntityList>
      <Value><![CDATA[]]></Value>
    </showEntityList>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>