<?xml version="1.0" encoding="utf-8"?>
<Content Key="162c18e8-4a7f-4632-82d9-1e8e12ba73d1" Alias="Market News" Level="3">
  <Info>
    <Parent Key="ab4a8560-e596-406c-96ec-3ce3b31381c7">Email Templates</Parent>
    <Path>/wwwicmcapitalcouk/EmailTemplates/MarketNews</Path>
    <Trashed>false</Trashed>
    <ContentType>marketNewsEmail</ContentType>
    <CreateDate>2023-05-21T16:59:31</CreateDate>
    <NodeName Default="Market News" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e929dc2-914f-4a15-809d-7f9d498160f0">EmailTemplateMarketNews</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/46a11e63216d4a44a138d718b61b7f54"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4a2aa021-2492-4a53-9d0b-42afb53ac445",
      "udi": "umb://element/46a11e63216d4a44a138d718b61b7f54",
      "image": "[\r\n  {\r\n    \"key\": \"d8e400bb-2813-412b-ad4a-a5106f91bb57\",\r\n    \"mediaKey\": \"8b670284-b7ca-4efe-998a-c69d310d9e1e\"\r\n  }\r\n]",
      "url": "[{\"name\":\"https://www.icmcapital.co.uk/news/market/icm-announced-as-official-partner-of-france-sailgp-team-for-2023/\",\"url\":\"https://www.icmcapital.co.uk/news/market/icm-announced-as-official-partner-of-france-sailgp-team-for-2023/\"}]",
      "title": "Sail GP Team"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <calendarURL>
      <Value><![CDATA[[
  {
    "name": "Economic Calendar",
    "url": "https://www.icmcapital.co.uk/accounts/trading-tools/"
  }
]]]></Value>
    </calendarURL>
    <disclaimer>
      <Value><![CDATA[<p><strong>Disclaimer</strong></p>
<p>TRADING CENTRAL is an independent third-party research provider, and the information provided should not be considered trading advice. ICM Capital provides TRADING CENTRAL research to support clients' trades and give them trading ideas that should be independently evaluated. ICM Capital cannot be held liable for any information TRADING CENTRAL provides.</p>]]></Value>
    </disclaimer>
    <entity>
      <Value><![CDATA[[
  "ICM Capital Limited (UK)"
]]]></Value>
    </entity>
    <footerImage>
      <Value><![CDATA[[
  {
    "key": "ec1a7e42-cc80-4a0e-b4ad-28fe4c639bf3",
    "mediaKey": "250fa82e-ee65-4381-9d7a-5bb57055d53b"
  }
]]]></Value>
    </footerImage>
    <partners>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2c93370a80b5405c8e8bcb31f31c6511"
      },
      {
        "contentUdi": "umb://element/b8cd63cacf6a4cd4a9fc7de85f175e7f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "048c3249-5363-4a79-9efd-bdd7eca2a5a6",
      "udi": "umb://element/2c93370a80b5405c8e8bcb31f31c6511",
      "logo": "[\r\n  {\r\n    \"key\": \"9ea024d5-497b-4d19-9ae0-27af0adc1221\",\r\n    \"mediaKey\": \"be441e47-c5d0-4bfc-bab0-4d0784910c7c\"\r\n  }\r\n]",
      "url": "[{\"name\":\"https://www.icmcapital.co.uk/news/market/icm-announced-as-official-partner-of-france-sailgp-team-for-2023/\",\"url\":\"https://www.icmcapital.co.uk/news/market/icm-announced-as-official-partner-of-france-sailgp-team-for-2023/\"}]",
      "title": "Sail GP Team"
    },
    {
      "contentTypeKey": "048c3249-5363-4a79-9efd-bdd7eca2a5a6",
      "udi": "umb://element/b8cd63cacf6a4cd4a9fc7de85f175e7f",
      "logo": "[\r\n  {\r\n    \"key\": \"7eda492b-0778-4442-83d3-2ac31f799481\",\r\n    \"mediaKey\": \"091ced97-8d08-477a-80d4-2c302531ac7f\"\r\n  }\r\n]",
      "url": "[{\"name\":\"https://www.icmcapital.co.uk/news/market/global-investment-house-icmcom-partners-with-london-s-polo-in-the-park/\",\"url\":\"https://www.icmcapital.co.uk/news/market/global-investment-house-icmcom-partners-with-london-s-polo-in-the-park/\"}]",
      "title": "Chestertons Polo"
    }
  ],
  "settingsData": []
}]]></Value>
    </partners>
    <regulationURL>
      <Value><![CDATA[[
  {
    "name": "Regulation",
    "url": "https://www.icmcapital.co.uk/about/regulation/"
  }
]]]></Value>
    </regulationURL>
    <senderEmail>
      <Value><![CDATA[marketupdate@icmcapital.co.uk]]></Value>
    </senderEmail>
    <showEntityList>
      <Value><![CDATA[0]]></Value>
    </showEntityList>
  </Properties>
</Content>