<?xml version="1.0" encoding="utf-8"?>
<Content Key="5adf03f6-3162-4bee-b0f6-ab6c7e650704" Alias="Market News (VC)" Level="3">
  <Info>
    <Parent Key="4146be67-9ae0-42b1-a345-1a1d6144439f">Email Templates</Parent>
    <Path>/wwwicmcom/EmailTemplates/MarketNewsVC</Path>
    <Trashed>false</Trashed>
    <ContentType>marketNewsEmail</ContentType>
    <CreateDate>2023-05-21T16:57:23</CreateDate>
    <NodeName Default="Market News (VC)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72a68c2e-c730-43a6-9d7f-b548e6033c43">MarketNewsEmailTemplate</Template>
  </Info>
  <Properties>
    <disclaimer>
      <Value><![CDATA[]]></Value>
    </disclaimer>
    <eCalendarURL>
      <Value><![CDATA[]]></Value>
    </eCalendarURL>
    <entity>
      <Value><![CDATA[]]></Value>
    </entity>
    <firstPartnerLogo>
      <Value><![CDATA[]]></Value>
    </firstPartnerLogo>
    <firstPartnerURL>
      <Value><![CDATA[]]></Value>
    </firstPartnerURL>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <mainLogo>
      <Value><![CDATA[]]></Value>
    </mainLogo>
    <secondPartnerLogo>
      <Value><![CDATA[]]></Value>
    </secondPartnerLogo>
    <secondPartnerURL>
      <Value><![CDATA[]]></Value>
    </secondPartnerURL>
    <senderEmail>
      <Value><![CDATA[]]></Value>
    </senderEmail>
    <showEntityList>
      <Value><![CDATA[]]></Value>
    </showEntityList>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>