<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b8a2a50-8830-46f2-976c-7187d449b0db" Alias="Settings" Level="2">
  <Info>
    <Parent Key="4e790028-0997-420b-8602-ef744a4c34e8">www.icmmena.com</Parent>
    <Path>/wwwicmmenacom/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteSettings</ContentType>
    <CreateDate>2023-05-19T18:07:41</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainLogo>
      <Value><![CDATA[]]></Value>
    </mainLogo>
  </Properties>
</Content>