<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b0ecb9b-94ab-4525-824d-8f768dc6b14c" Alias="Settings" Level="2">
  <Info>
    <Parent Key="d978e3f5-e470-43e5-a8a7-30b7b1368c58">www.icmtrader.com</Parent>
    <Path>/wwwicmtradercom/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteSettings</ContentType>
    <CreateDate>2023-05-19T18:08:36</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainLogo>
      <Value><![CDATA[]]></Value>
    </mainLogo>
  </Properties>
</Content>