<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd330a34-a24d-4ae7-b1fe-3a49ad966e84" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-10-15T15:32:37</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[www.icm.com]]></Value>
    </title>
  </Properties>
</Content>