<?xml version="1.0" encoding="utf-8"?>
<Content Key="899e24ff-9ca0-40ce-a86b-dc2692e94e14" Alias="Landing Pages" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LandingPages</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPagesFolder</ContentType>
    <CreateDate>2024-10-15T15:10:45</CreateDate>
    <NodeName Default="Landing Pages" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties />
</Content>