<?xml version="1.0" encoding="utf-8"?>
<Domain Key="3c73c7cb-0000-0000-0000-000000000000" Alias="*1145">
  <Info>
    <IsWildcard>true</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="4146be67-9ae0-42b1-a345-1a1d6144439f">/www.icm.com/Email Templates</Root>
    <SortOrder>-1</SortOrder>
  </Info>
</Domain>