<?xml version="1.0" encoding="utf-8"?>
<Domain Key="d4da890c-0000-0000-0000-000000000000" Alias="/ar">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ar-AE</Language>
    <Root Key="557daa25-a976-41e2-94ed-5ad4a18c1f9e">/Global Settings</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>