<?xml version="1.0" encoding="utf-8"?>
<Domain Key="6e23c999-0000-0000-0000-000000000000" Alias="dev.icmcapital.co.uk/en/emails/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="ab4a8560-e596-406c-96ec-3ce3b31381c7">/www.icmcapital.co.uk/Email Templates</Root>
    <SortOrder>2</SortOrder>
  </Info>
</Domain>