<?xml version="1.0" encoding="utf-8"?>
<Domain Key="df779a79-0000-0000-0000-000000000000" Alias="dev.icm.com/en/emails">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="4146be67-9ae0-42b1-a345-1a1d6144439f">/www.icm.com/Email Templates</Root>
    <SortOrder>3</SortOrder>
  </Info>
</Domain>