<?xml version="1.0" encoding="utf-8"?>
<Domain Key="2ac7d0da-0000-0000-0000-000000000000" Alias="dev.icmsolutions.gr:5000">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="97606099-8ea0-4f8f-bfce-3913e2776882">/www.icmsolutions.gr/Home</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>