<?xml version="1.0" encoding="utf-8"?>
<Domain Key="8269ad2d-0000-0000-0000-000000000000" Alias="dev.icmtrader.com/en/emails">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="6de7265c-9a76-400f-9ec6-92e5f28f2595">/www.icmtrader.com/Email Templates</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>