<?xml version="1.0" encoding="utf-8"?>
<Domain Key="b49ece84-0000-0000-0000-000000000000" Alias="dev.icmmena.com">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="f56323a3-e4f9-4bf8-87f0-798899249669">/www.icmmena.com/Email Templates</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>