<?xml version="1.0" encoding="utf-8"?>
<Domain Key="8df52362-0000-0000-0000-000000000000" Alias="dev.icmmena.com/ar/emails">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ar-AE</Language>
    <Root Key="f56323a3-e4f9-4bf8-87f0-798899249669">/www.icmmena.com/Email Templates</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>