<?xml version="1.0" encoding="utf-8"?>
<Domain Key="e73b0d1b-0000-0000-0000-000000000000" Alias="http://dev.icm.com/ar/emails">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ar-AE</Language>
    <Root Key="4146be67-9ae0-42b1-a345-1a1d6144439f">/www.icm.com/Email Templates</Root>
    <SortOrder>4</SortOrder>
  </Info>
</Domain>