<?xml version="1.0" encoding="utf-8"?>
<Domain Key="7e7a90a3-0000-0000-0000-000000000000" Alias="local.icmmena.com:5000">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="5f448381-9346-4e25-8c88-e6c5becd99e3">/www.icmmena.com/Home</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>