<?xml version="1.0" encoding="utf-8"?>
<Domain Key="6680245a-0000-0000-0000-000000000000" Alias="local.icm.com:5000">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="2db52465-50dd-42e9-a816-1c5f3da9b56a">/www.icm.com/Home</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>