<?xml version="1.0" encoding="utf-8"?>
<Domain Key="d91e27e5-0000-0000-0000-000000000000" Alias="local.icm.com:5000/ms/emails">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ms-MY</Language>
    <Root Key="4146be67-9ae0-42b1-a345-1a1d6144439f">/www.icm.com/Email Templates</Root>
    <SortOrder>5</SortOrder>
  </Info>
</Domain>