<?xml version="1.0" encoding="utf-8"?>
<Domain Key="b7a6045b-0000-0000-0000-000000000000" Alias="local.icmmena.com:5000/ar/emails">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ar-AE</Language>
    <Root Key="f56323a3-e4f9-4bf8-87f0-798899249669">/www.icmmena.com/Email Templates</Root>
    <SortOrder>2</SortOrder>
  </Info>
</Domain>