<?xml version="1.0" encoding="utf-8"?>
<Domain Key="974fcf30-0000-0000-0000-000000000000" Alias="next.icmtrader.com:5000">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="46b95a98-e1e6-4c08-bd2b-8d068396f7a7">/www.icmtrader.com/Home</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>