<?xml version="1.0" encoding="utf-8"?>
<Domain Key="66b496ac-0000-0000-0000-000000000000" Alias="next.icm.com:5000">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="2db52465-50dd-42e9-a816-1c5f3da9b56a">/www.icm.com/Home</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>