<?xml version="1.0" encoding="utf-8"?>
<Domain Key="4a3cb6a1-0000-0000-0000-000000000000" Alias="/ms">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ms-MY</Language>
    <Root Key="557daa25-a976-41e2-94ed-5ad4a18c1f9e">/Global Settings</Root>
    <SortOrder>2</SortOrder>
  </Info>
</Domain>