<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="85264813-987c-4c23-8c79-3bb2cc7e9e83" Alias="contentPage" Level="2">
    <Info>
        <Name>Content Page</Name>
        <Icon>icon-layout color-indigo</Icon>
        <Thumbnail>folder.png</Thumbnail>
        <Description></Description>
        <AllowAtRoot>False</AllowAtRoot>
        <IsListView>False</IsListView>
        <Variations>Nothing</Variations>
        <IsElement>false</IsElement>
        <HistoryCleanup>
            <PreventCleanup>False</PreventCleanup>
            <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
            <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
        </HistoryCleanup>
        <Folder>Pages</Folder>
        <Compositions/>
        <DefaultTemplate></DefaultTemplate>
        <AllowedTemplates/>
    </Info>
    <Structure/>
    <GenericProperties/>
    <Tabs/>
</ContentType>