<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a88f571c-cc7d-4553-9f90-eabea14f7126" Alias="emailTemplatesFolder" Level="2">
    <Info>
        <Name>Email Templates Folder</Name>
        <Icon>icon-folder color-indigo</Icon>
        <Thumbnail>folder.png</Thumbnail>
        <Description></Description>
        <AllowAtRoot>False</AllowAtRoot>
        <IsListView>False</IsListView>
        <Variations>Nothing</Variations>
        <IsElement>false</IsElement>
        <HistoryCleanup>
            <PreventCleanup>False</PreventCleanup>
            <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
            <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
        </HistoryCleanup>
        <Folder>Folders</Folder>
        <Compositions/>
        <DefaultTemplate></DefaultTemplate>
        <AllowedTemplates/>
    </Info>
    <Structure>
        <ContentType Key="a88f571c-cc7d-4553-9f90-eabea14f7126" SortOrder="0">emailTemplatesFolder</ContentType>
    </Structure>
    <GenericProperties/>
    <Tabs/>
</ContentType>