<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="201fbed6-eac9-4808-97c4-6691caf256f0" Alias="globalSettings" Level="2">
    <Info>
        <Name>Global Settings</Name>
        <Icon>icon-settings color-indigo</Icon>
        <Thumbnail>folder.png</Thumbnail>
        <Description></Description>
        <AllowAtRoot>True</AllowAtRoot>
        <IsListView>False</IsListView>
        <Variations>Nothing</Variations>
        <IsElement>false</IsElement>
        <HistoryCleanup>
            <PreventCleanup>False</PreventCleanup>
            <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
            <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
        </HistoryCleanup>
        <Folder>Settings</Folder>
        <Compositions/>
        <DefaultTemplate></DefaultTemplate>
        <AllowedTemplates/>
    </Info>
    <Structure/>
    <GenericProperties/>
    <Tabs/>
</ContentType>