<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9a4c3350-668f-42f0-a2f9-a1aeaa4cdb13" Alias="landingPagesFolder" Level="2">
  <Info>
    <Name>Landing Pages Folder</Name>
    <Icon>icon-folder color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9a4c3350-668f-42f0-a2f9-a1aeaa4cdb13" SortOrder="0">landingPagesFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>