<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8a8d253b-3062-4565-bded-162cee3f3d24" Alias="marketNewsEmail" Level="2">
  <Info>
    <Name>Market News Email</Name>
    <Icon>icon-message color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>MarketNewsEmailTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="72a68c2e-c730-43a6-9d7f-b548e6033c43">MarketNewsEmailTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>