<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1d19f7cd-33a7-4ff8-9f99-e0d4b8379c11" Alias="websiteFolder" Level="2">
  <Info>
    <Name>Website Folder</Name>
    <Icon>icon-globe-alt color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a88f571c-cc7d-4553-9f90-eabea14f7126" SortOrder="0">emailTemplatesFolder</ContentType>
    <ContentType Key="9a4c3350-668f-42f0-a2f9-a1aeaa4cdb13" SortOrder="1">landingPagesFolder</ContentType>
    <ContentType Key="0eae0d64-a0ae-4389-a56c-23158edbf462" SortOrder="2">websiteSettings</ContentType>
    <ContentType Key="26e0956a-0706-4e7a-b634-91630d637551" SortOrder="3">homePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>