<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c2d2b53f-40d1-460c-9e49-3052d67b3531" Alias="websiteFolder" Level="2">
  <Info>
    <Name>Website Folder</Name>
    <Icon>icon-globe-alt color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="177bcf80-dc4a-4c50-a7b7-2fa83fc2d03d" SortOrder="0">homePage</ContentType>
    <ContentType Key="e7e0be63-0bc4-4d30-8cd8-4fba11a98ed5" SortOrder="1">landingPagesFolder</ContentType>
    <ContentType Key="e7eec75e-a6bc-46ec-bcf9-71dda0d2ff9c" SortOrder="2">emailTemplateFolder</ContentType>
    <ContentType Key="1b1dcc14-0c2a-4bc6-87b5-6abda85631b2" SortOrder="3">websiteSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>